<div class="dashboard-button-container">
    <button mat-raised-button (click)="addProject()" class="dashboard-button">
        Add Project
    </button>
</div>
<p></p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 dashboard-table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="projectType">
        <th mat-header-cell *matHeaderCellDef> Project Type </th>
        <td mat-cell *matCellDef="let element"> {{element.projectType}} </td>
    </ng-container>
    <ng-container matColumnDef="collectionsCount">
        <th mat-header-cell *matHeaderCellDef> Collections </th>
        <td mat-cell *matCellDef="let element"> {{element.collectionsCount}} </td>
    </ng-container>
     <ng-container matColumnDef="crDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.crDate | date: 'short' }} </td>
    </ng-container>
    <ng-container matColumnDef="lastRunDt">
        <th mat-header-cell *matHeaderCellDef> Last Run Date </th>
        <td mat-cell *matCellDef="let element"> {{element.lastRunDt}} </td>
    </ng-container>
    <ng-container matColumnDef="lastRunStatus">
        <th mat-header-cell *matHeaderCellDef> Last Run Status </th>
        <td mat-cell *matCellDef="let element"> {{element.lastRunStatus}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>