.dashboard-table {
  width: 100%;
}

.mat-header-cell {
  background-color: rgba(119, 136, 153, 0.26);
  color: black;
}

.dashboard-button-first-container {
  padding-bottom: 16px;
  float: right;
}
.dashboard-button-second-container {
  padding-bottom: 16px;
}

.dashboard-button + .dashboard-button {
  margin-left: 8px;
}
