<h2 mat-dialog-title class="mat-dialog-title">
    <div class="custom-class">
        Executing Test Run
        <span class="spacer"></span>
        <mat-icon [ngStyle]="{color: '#fd518c'}">timelapse</mat-icon>
        <cd-timer #basicTimer format="hms"></cd-timer>
    </div>
</h2>
<mat-dialog-content style="white-space: pre-line;" class="run-container">
    <span *ngIf="!scanComplete  && validationErrMsg == ''">
        <span class="custom-class" [ngStyle]="{color: 'red'}">
            <p>
                <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon>No device selected. Please scan device
                first.
            </p>
        </span>
    </span>
    <span *ngIf="!scanComplete && validationErrMsg != ''">
        <span class="custom-class" [ngStyle]="{color: 'red'}">
            <p>
                <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon>{{validationErrMsg}}
            </p>
        </span>
    </span>
    <span *ngIf="scanComplete">
        <span *ngIf="!dataLoaded">
            <span *ngIf="!errorsInGettingTestcases">Fetching testcases for the collection..</span>
            <div class="spinner">
                <mat-spinner diameter="50"></mat-spinner>
            </div>
        </span>
        <span *ngIf="dataLoaded">
            <span *ngIf="errorsInGettingTestcases" class="custom-class">
                <p>
                    <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon>Unable to get testcases for the collection.
                </p>
            </span>
            <span *ngIf="!errorsInGettingTestcases">
                <span *ngIf="!runComplete">
                    Execution of {{testCasesList.length}} testcases for collection <b>{{collectionName}}</b> has started.
                    <p></p>
                    <div style="position: relative">
                        <mat-progress-bar color="accent" mode="determinate" [value]="progressDone"></mat-progress-bar>
                        <span *ngIf="progressDone < 100" style="position: absolute; top: 0.5em;" [ngStyle]="{'left': progressDone + '%'}">&nbsp;{{progressDone | number:'1.0-0'}}%</span>
                        <p></p>
                    </div>
                    <p></p><p></p>Current testcase: {{currectTestCaseId}} - {{currectTestCaseName}}
                    <p></p>
                    <div  *ngIf="!showLoader || showResumeAgainBtn || showContinueBtn" [innerHTML]="currentTestDescription"></div>
                    <div *ngIf="showLoader && !showResumeAgainBtn" class="spinner">
                        <mat-spinner diameter="50"></mat-spinner>
                    </div>
                    <div *ngIf="showInitiateCaptureBtn">
                        <p></p><span [ngStyle]="{color: '#fd518c'}">Click on initiate capture button to capture the biometrics
                            from the
                            device..</span>
                    </div>
                    <p></p>
                    <div class="centereddiv" *ngIf="currentTestCaseIsRCapture && streamingDone && !showLoader && !isAndroidAppMode">
                        <img #stream [id]="getStreamImgTagId()" width="200" height="200" alt="Start Streaming to Display" border="1">
                    </div>
                </span>

                <span *ngIf="runComplete">
                    <div *ngIf="serviceErrors">
                        <div class="custom-class">
                            <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon>
                            <span [ngStyle]="{color: 'red'}">
                                There were errors while processing the service.
                            </span>
                            <span class="spacer"></span>
                        </div>
                        <p> <span [ngStyle]="{color: 'red'}">
                                <span *ngFor="let item of errorsSummary">
                                    {{item}}<br />
                                </span>
                            </span></p>
                    </div>
                    <div *ngIf="errorsInSavingTestRun">
                        <div class="custom-class">
                            <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon>
                            <span [ngStyle]="{color: 'red'}">
                                Unable to save / update test run details. Please try again.
                            </span>
                            <span class="spacer"></span>
                        </div>
                    </div>
                    <div *ngIf="!serviceErrors && !errorsInSavingTestRun">
                        <p>Total {{testCasesList.length > 1 ? testCasesList.length + ' testcases have' :
                            testCasesList.length + ' testcase has'}} executed successfully.
                            Overall result for testcases:</p>
                        <div class="custom-class">
                            <p>
                                <mat-icon [ngStyle]="{color: 'green'}">check_circle</mat-icon>
                                {{countOfSuccessTestcases}} have
                                passed.
                            </p>
                        </div>
                        <div class="custom-class">
                            <p>
                                <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon> {{countOfFailedTestcases}} have
                                failed.
                            </p>
                        </div>
                        <p>
                            For a detailed report <a class="link" (click)="viewTestRun()">click here</a>.
                        </p>
                    </div>
                </span>
            </span>
        </span>
    </span>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button *ngIf="!scanComplete || (scanComplete && errorsInGettingTestcases) 
    || (scanComplete && !errorsInGettingTestcases && !runComplete) 
    || (scanComplete && !errorsInGettingTestcases && runComplete)" mat-flat-button color="accent"
        (click)="close()">Close</button>
    <div class="spacer" *ngIf="scanComplete"></div>
    <!-- <button *ngIf="!scanComplete || (scanComplete && !runComplete && showResumeBtn)" mat-flat-button color="accent"
        (click)="scanDevice()">Select Another Device</button> -->
    <div class="spacer" *ngIf="scanComplete"></div>    
    <button *ngIf="scanComplete && !errorsInGettingTestcases && !runComplete && showInitiateCaptureBtn" mat-flat-button
        color="accent" (click)="setInitiateCapture()">Initiate Capture</button>
    <button *ngIf="scanComplete && !errorsInGettingTestcases && !runComplete && !showInitiateCaptureBtn && showStreamingBtn" mat-flat-button
        color="accent" (click)="startStreaming()">Start Streaming</button>    
    <button *ngIf="scanComplete && !errorsInGettingTestcases && !runComplete && showResumeBtn" mat-flat-button
        color="accent" (click)="setResume()">Resume</button>
    <button *ngIf="scanComplete && !errorsInGettingTestcases && !runComplete && !showResumeBtn && showResumeAgainBtn" mat-flat-button
        color="accent" (click)="setResumeAgain()">Resume Next</button>        
    <button *ngIf="scanComplete && !errorsInGettingTestcases && !runComplete && showContinueBtn" mat-flat-button
        color="accent" (click)="setContinue()">Continue</button>            
    <button *ngIf="scanComplete && !errorsInGettingTestcases && runComplete && !serviceErrors && !errorsInSavingTestRun"
        mat-flat-button color="accent" (click)="viewTestRun()">View Test Run</button>
</mat-dialog-actions>