.mat-dialog-title {
  color: #fd518c;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid #fd518c;
}

.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
  display: flex;
}
.spacer {
  flex: 1 1 auto;
}
mat-dialog-content {
  /* background-color: #ff4081 !important; */
  min-height: 225px;
}
.custom-class mat-icon {
  vertical-align: middle;
}
.custom-class {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
mat-dialog-actions {
  margin-top: 25px;
  border-top: 1px solid #ff4081;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.link {
  cursor: pointer;
  color: #ff4081;
}
