<h2 mat-dialog-title *ngIf="input.title">{{ input.title }}</h2>
<mat-dialog-content style="white-space: pre-line;">
    <!-- <span *ngIf="!scanComplete">Scanning for devices..</span>
    <span *ngIf="scanComplete && !previousScanAvailable && portsData.length > 0" style="color: #fd518c;">Scanning
        complete. Select port and device.</span>
    <span *ngIf="scanComplete && portsData.length <= 0" style="color: #fd518c;">Scanning failed. Connect your device and
        scan again.</span>
    <span *ngIf="scanComplete && previousScanAvailable" style="color: #fd518c;">Scanning already complete.</span>
    <div class="spinner" *ngIf="!scanComplete">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    <p></p>
    <div *ngIf="scanComplete">
        
    </div> -->
</mat-dialog-content>
<mat-dialog-actions>
    <!-- <button mat-flat-button color="accent" (click)="startScan()"
        *ngIf="scanComplete && (portsData.length <= 0 || previousScanAvailable)">Scan
        Again</button>
    <button mat-flat-button color="accent" (click)="save()" *ngIf="scanComplete && portsData.length > 0">Save</button> -->
</mat-dialog-actions>