.dashboard-table {
    width: 100%;
  }
  
  .mat-header-cell {
    background-color: rgba(119, 136, 153, 0.26);
    color: black;
  }
  
  .dashboard-button-first-container {
    /* padding-bottom: 16px; */
    float: right;
  }
  .dashboard-button-second-container {
    /* padding-bottom: 16px; */
  }
  
  .dashboard-button + .dashboard-button {
    margin-left: 8px;
  }
  .spinner {
    flex-direction: column;
    align-items: center;
    margin-top: 18vw;
    display: flex;
  }
  .link {
    cursor: pointer;
    color: #ff4081;
  }
  .custom-class mat-icon {
    vertical-align: middle;
  }
  @media screen and (max-width: 600px){
    .table-scroll{
      overflow-x:auto;
    }
    .outerdiv{
      width: 100%;
    }
    .nameheader{
      padding-left: 20px;
    }
    .namecell{
     padding-left: 20px; 
     width: 80px;
    }
    .typeheader{
      padding-left: 20px;
    }
    .typecell{
     padding-left: 20px; 
    }
    .purposeheader{
      padding-left: 20px;
    }
    .purposecell{
      padding-left: 20px;
    }
    .fileheader{
     padding-left: 20px; 
    }
    .filecell{
     padding-left: 20px; 
    }
    .crdateheader{
     padding-left: 20px; 
    }
    .crdatecell{
     padding-left: 20px; 
    }
    .actionsheader{
     padding-left: 20px; 
    }
    .actionscell{
     padding-left: 20px; 
    }
  }
  @media screen and (max-width:320px) {
    .dashboard-button{
      position: absolute;
      width: 170px;
      margin-left: -220px;
    }
    .dashboard-button2{
      margin-top: 40px;
      margin-left: 60px;
      width: 170px;
    }
  }