<p>
    <xng-breadcrumb *ngIf="dataLoaded"></xng-breadcrumb>
</p>
<div class="spinner" *ngIf="!dataLoaded">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<!-- <h2 *ngIf="dataLoaded">Test Run History</h2>     -->
<div class="mat-elevation-z8" *ngIf="dataLoaded">
    <span *ngIf="this.totalItems !== 0">
        <mat-paginator [length]="this.totalItems" [pageSize]="this.pageSize" [pageSizeOptions]="this.pageSizeOptions"
            (page)="showResults($event)">
        </mat-paginator>
    </span>
    <div class="table-container" >
        <table mat-table [dataSource]="dataSource" class="testcases-table">
            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
            <!-- Test Order Sequence Column -->
            <ng-container matColumnDef="lastRunTime">
                <th mat-header-cell *matHeaderCellDef> Run Date </th>
                <td mat-cell *matCellDef="let element"> {{element.lastRunTime | date: 'short'}} </td>
            </ng-container>
            <ng-container matColumnDef="runStatus">
                <th mat-header-cell *matHeaderCellDef> Run Status </th>
                <td mat-cell *matCellDef="let element">
                    <span class="custom-class" *ngIf="element.runStatus == true">
                        <mat-icon [ngStyle]="{color: 'green'}">check_circle</mat-icon>
                        Success
                    </span>
                    <span class="custom-class" *ngIf="element.runStatus == false">
                        <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon>
                        Failure
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="testCaseCount">
                <th mat-header-cell *matHeaderCellDef> Total Test Cases </th>
                <td mat-cell *matCellDef="let element"> {{element.testCaseCount}} </td>
            </ng-container>
            <ng-container matColumnDef="passCaseCount">
                <th mat-header-cell *matHeaderCellDef> Pass Cases </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{color: 'green'}"> {{element.passCaseCount}} </td>
            </ng-container>
            <ng-container matColumnDef="failCaseCount">
                <th mat-header-cell *matHeaderCellDef> Fail Cases </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{color: 'red'}"> {{element.failCaseCount}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Details </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-flat-button color="accent" (click)="viewTestRun(row)">
                        Details
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
   
</div>
<div class="button-container" *ngIf="dataLoaded">
    <button mat-flat-button color="accent" (click)="backToProject()" class="add-button">
        Back
    </button>
</div>