.formContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
  }
  .fieldWrapper {
    display: flex;
    flex: 1;
    justify-content: first baseline;
    align-items: center;
    padding: 5px;
    height: 50px;
  }
  .fieldLabel {
    flex: 0.2;
  }
  .fieldContainer {
    flex: 0.3;
    align-items: center;
  }
  .required-annotation {
    color: red;
    margin-left: 3px;
  }
  .button-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 98% !important;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    border-top: 1px solid #ddd;
  }
  .button-container + .add-button {
    margin-left: 8px;
  }
  .spinner {
    flex-direction: column;
    align-items: center;
    margin-top: 18vw;
    display: flex;
  }
  .testcases-table {
    width: 100%;
    
  }
  .table-container {
    /* height: 400px; */
    max-width: 100%;
    overflow: auto;
  }
  .custom-class mat-icon {
    vertical-align: middle;
  }

  @media screen and (max-width:600px) {
    .table-container{
      overflow-x: auto;
    }
    .testcases-table{
      width: 800px;
    }
    .runDateCell{
      padding-left: 40px;
      width: 80px;
    }
    .runDateHeader{
      padding-left: 40px;
      width: 80px;
    }
    .runStatusHeader{
      padding-left: 40px;
      width: 80px;
    }
    .runStatusCell{
      padding-left: 40px;
      width: 80px;
    }
    .totaltestcaseHeader{
      padding-left: 40px;
      width: 80px;
    }
    .totaltestcaseCell{
      padding-left: 40px;
      width: 80px;
    }
    .passcasesHeader{
      padding-left: 40px;
      width: 80px;
    }
    .passcasesCell{
      padding-left: 40px;
      width: 80px;
    }
    .failcasesHeader{
      padding-left: 40px;
      width: 80px;
    }
    .failcasesCell{
      padding-left: 40px;
      width: 80px;
    }
    .detailsHeader{
      padding-left: 40px;
      width: 80px;
    }
    .detailsCell{
      padding-left: 40px;
      width: 80px;
    }
    .viewtestrunbutton{
      margin-top:5px;
    }
    .deletetestrunbutton{
      margin-top:5px;
      margin-bottom: 5px;
    }
  }