.formContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
  }
  .mat-header-cell {
    background-color: rgba(119, 136, 153, 0.26);
    color: black;
  }
  .fieldWrapper {
    display: flex;
    flex: 1;
    justify-content: first baseline;
    align-items: center;
    padding: 5px;
    height: 50px;
  }
  .mat-elevation-z8 {
    box-shadow:
      0 -1px 0px -1px rgba(0, 0, 0, 0.25),
      0 1px 2px 0px rgba(0, 0, 0, 0.5),
      0 1px 2px 0px rgba(0, 0, 0, 0.12)
  }
  .add-button{
    background-color: var(--secondary-color);
    color: var(--button-font-color);
  }
  .fieldLabel {
    flex: 0.2;
  }
  .fieldContainer {
    flex: 0.3;
    align-items: center;
  }
  .required-annotation {
    color: red;
    margin-left: 3px;
  }
  .button-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 98% !important;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    border-top: 1px solid #ddd;
  }
  .button-container + .add-button {
    margin-left: 8px;
  }
  .spinner {
    flex-direction: column;
    align-items: center;
    margin-top: 18vw;
    display: flex;
  }
  .testcases-table {
    width: 100%;
    
  }
  .table-container {
    /* height: 400px; */
    max-width: 100%;
    overflow: auto;
  }
  .custom-class mat-icon {
    vertical-align: middle;
  }
  @media screen and (max-width: 960px) {
    .detailsHeader{
      padding-left: 95px;
    }
    .detailsCell{
      padding-left: 45px;
    }
    .totaltestcaseCell{
      padding-left: 40px;
    }
    .passcasesCell{
      padding-left: 40px;
    }
    .failcasesHeader{
      padding-left: 20px;
    }
    .failcasesCell{
      padding-left: 40px;
    }
  }
  @media screen and (max-width: 800px) {
    .testcases-table{
      width: 100%;
    }
    .table-container{
      overflow-x: auto;
    }
    .runDateHeader{
      padding-left:20px;
      width: 100px;
    }
    .runStatusHeader{
      padding-left:20px;
      width: 100px;
    }
    .totaltestcaseHeader{
      padding-left:20px;
      width: 100px;
    }
    .passcasesHeader{
      padding-left:20px;
      width: 100px;
    }
    .failcasesHeader{
      padding-left:20px;
      width: 100px;
    }
    .detailsHeader{
      padding-left:30px;
      width: 150px;
    }
    .runDateCell{
      padding-left:20px;
      width: 150px;
    }
    .runStatusCell{
      padding-left:20px;
      width: 100px;
    }
    .totaltestcaseCell{
      padding-left:50px;
      width: 100px;
    }
    .passcasesCell{
      padding-left:50px;
      width: 100px;
    }
    .failcasesCell{
      padding-left:50px;
      width: 100px;
    }
    .detailsCell{
      padding-left:20px;
      width: 100px;
    }
    .viewtestrunbutton{
      width: 70px;
      margin-bottom: 4px;
      margin-top: 4px;
    }
  }
  @media screen and (max-width: 604px) {
    .testcases-table{
      width: 100%;
    }
    .table-container{
      overflow-x: auto;
    }
    .runDateHeader{
      padding-left:10px;
      width: 80px;
    }
    .runStatusHeader{
      padding-left:10px;
      width: 80px;
    }
    .totaltestcaseHeader{
      padding-left:10px;
      width: 80px;
    }
    .passcasesHeader{
      padding-left:10px;
      width: 80px;
    }
    .failcasesHeader{
      padding-left:10px;
      width: 80px;
    }
    .detailsHeader{
      padding-left:10px;
      width: 80px;
    }
    .runDateCell{
      padding-left:10px;
      width: 80px;
    }
    .runStatusCell{
      padding-left:10px;
      width: 80px;
    }
    .totaltestcaseCell{
      padding-left:10px;
      width: 80px;
    }
    .passcasesCell{
      padding-left:10px;
      width: 80px;
    }
    .failcasesCell{
      padding-left:10px;
      width: 80px;
    }
    .detailsCell{
      padding-left:10px;
      width: 100px;
    }
    .viewtestrunbutton{
      width: 70px;
      margin-bottom: 4px;
      margin-top: 4px;
    }
  }
  @media screen and (max-width:600px) {
    .table-container{
      overflow-x: auto;
    }
    .testcases-table{
      width: 800px;
    }
    .runDateCell{
      padding-left: 40px;
      width: 80px;
    }
    .runDateHeader{
      padding-left: 40px;
      width: 80px;
    }
    .runStatusHeader{
      padding-left: 40px;
      width: 80px;
    }
    .runStatusCell{
      padding-left: 40px;
      width: 80px;
    }
    .totaltestcaseHeader{
      padding-left: 40px;
      width: 90px;
    }
    .totaltestcaseCell{
      text-align: center;
      padding-left: 40px;
      width: 80px;
    }
    .passcasesHeader{
      padding-left: 50px;
      width: 80px;
    }
    .passcasesCell{
      text-align: center;
      padding-left: 40px;
      width: 80px;
    }
    .failcasesHeader{
      padding-left: 50px;
      width: 80px;
    }
    .failcasesCell{
      text-align: center;
      padding-left: 40px;
      width: 80px;
    }
    .detailsHeader{
      padding-left: 50px;
      width: 80px;
    }
    .detailsCell{
      padding-left: 40px;
      width: 80px;
    }
    .viewtestrunbutton{
      margin-top:5px;
      width: 70px;
    }
    .deletetestrunbutton{
      margin-top:5px;
      margin-bottom: 5px;
      width: 70px;
    }
  }
  @media screen and (min-width:300px) and (max-width: 350px) {
    .detailsHeader{
      padding-left: 5px;
      width: 5px;
    }
    .detailsCell{
      padding-left: 5px;
      width: 5px;
    }
    .runStatusHeader{
      padding-left: 70px;
      width: 50px;
    }
    .runStatusCell{
      padding-left: 70px;
      width: 50px;
    }
  }