mat-expansion-panel-header {
  background-color: rgba(119, 136, 153, 0.26);
  color: black;
}
.formContainer {
  background-color: white;
}
.mat-header-cell{
  background-color: rgba(119, 136, 153, 0.26);
  color: black;
}
.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.fieldWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  /* height: 50px; */
}
.fieldLabel {
  width: 20%;
}
.fieldContainer {
  width: 80%;
  align-items: center;
}
.fieldContainerBox{
  width: 300px;
}
.spacer {
  flex: 0.1;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 35px;
}
.required-annotation {
  color: red;
  margin-left: 3px;
}
.list-container {
  padding: 8px;
  background-color: white;
  /* border-top: 1px solid #ddd; */
}
.button-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100% !important;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  border-top: 1px solid #ddd;
}

.button-container + .add-button {
  margin-left: 8px;
}
::ng-deep.mat-select-value {
  padding: 5px !important;
}

.collections-table {
  width: 100%;
}
.collections-header-container {
  /* padding-bottom: 16px; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.collections-button + .collections-button {
  margin-left: 8px;
}
.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}
.spinnerForUpdatingProject {
  flex-direction: column;
  display: flex;
}
.link {
  cursor: pointer;
  color: #ff4081;
}
@media screen and (max-width: 2048px) {
  .encryptionkeyButton{
    margin-left: 800px;
  }
  .scandeviceButton{
    margin-left: 732px;
  }
  .scandeviceButtonREG{
    margin-left: 1700px;
  }
  .collectionButtonMobile{
    margin-right: 1400px;
  }
  .scandeviceButtonREG{
    margin-left: 1500px;
  }
}
@media screen and (max-width: 2000px) {
  .scandeviceButton{
    margin-left: 300px;
  }
  .encryptionkeyButton{
    margin-left: 300px;
  }
  .scandeviceButtonREG{
    margin-left: 88em;
  }
}
@media screen and (max-width: 1440px) {
  .collections-button{
    position: absolute;
  }
  .buttonspan{
    margin-left: 12rem;
  }
  .encryptionkeyButton{
    margin-left: 900px;
  }
  .scandeviceButton{
    margin-left: 30em;
  }
  .encryptionkeyButton{
    margin-left: 460px;
  }
  .collections-button2{
    position: absolute;
  }
  .add-button{
    margin-right: 20px;
  }
  .collectionButtonMobile{
    margin-right: 1000px;
  }
}
@media screen and (min-width:1280px) and (max-width: 1380px) {
  .encryptionkeyButton{
    margin-left: 380px;
  }
  .scandeviceButton{
    margin-left: 22em;
  }
  .scandeviceButton-android{
    margin-left: 60em;
  }
  .scandeviceButtonREG{
    margin-left: 76em;
  }
  .collections-button2{
    position: absolute;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1279px) {
  .encryptionkeyButton{
    margin-left: 340px;
  }
  .scandeviceButton{
    margin-left: 340px;
  }
  .scandeviceButtonREG{
    position: absolute;
    margin-left: 60em;
  }
}
@media screen and (min-width: 1420px) and (max-width: 1200px) {
  .scandeviceButtonREG{
    position: absolute;
    margin-left: 75em;
  }
}
@media screen and (min-width: 1140px) and (max-width: 1190px) {
  .encryptionkeyButton{
    margin-left: 300px;
  }
  .scandeviceButton{
    margin-left: 0px;
  }
  .scandeviceButtonREG{
    margin-left: 40em;
  }
  .collections-button2{
    margin-right: 950px;
  }
}
@media screen and (min-width: 1069px) and (max-width: 1140px) {
  .collections-button2{
    margin-right: 850px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1068px) {
  .encryptionkeyButton{
    margin-left: 200px;
  }
  .scandeviceButtonREG{
    margin-left: 59em;
  }
  .scandeviceButton{
    margin-left: 19em;
  }
  .scandeviceButton-android{
    margin-left: 680px;
  }
  .collectionButtonMobile{
    position: absolute;
    margin-right: 600px;
  }
  .collections-button2{
    margin-right: 820px;
  }
}
@media screen and (max-width: 960px) {
  .encryptionkeyButton{
    margin-left: 250px;
  }
  .scandeviceButton{
    margin-left: 190px;
  }
  .scandeviceButtonREG{
    margin-left: 610px;
  }
  .scandeviceButton-android{
    margin-left: 610px;
  }
}
@media screen and (min-width: 763px) and (max-width: 801px) {
  .collections-button{
    width: 11.5rem;
  }
  .scandeviceButton{
    margin-left: 4rem;
    width: 11rem;
  }
  .encryptionkeyButton{
    width: 11rem;
    margin-left: 5rem;
  }
  .scandeviceButtonREG{
    margin-left: 33.5rem;
  }
  .scandeviceButton-android{
    margin-left: 33.5rem;
  }
  .collectionButtonMobile{
    margin-right: 540px;
    position: absolute;
  }
}
@media screen and (min-width: 685px) and (max-width: 763px) {
  .collections-button{
    width: 150px;
  }
  .scandeviceButton{
    margin-left: 60px;
    width: 150px;
  }
  .encryptionkeyButton{
    width: 150px;
    margin-left: 100px;
  }
  .scandeviceButtonREG{
    margin-left: 340px;
  }
  .scandeviceButton-android{
    margin-left: 340px;
  }
}
@media screen and (min-width: 603px) and (max-width: 684px) {
  .encryptionkeyButton{
    margin-left: 45px;
  }
  a{
    width: 60px; display: inline-block; overflow-wrap: break-word;
  }
  .scandeviceButton{
    margin-left: 45px;
  }
  .scandeviceButton-android{
    margin-left: 250px;
  }
  .scandeviceButtonREG{
    margin-left: 260px;
  }
  .testCaseCell{
    padding-left: 20px;
  }
  .crDateHeader{
    padding-left: 15px;
  }
  .lastRunHeader{
    padding-left: 10px;
  }
  .runHeader{
    padding-left: 30px;
  }
  .runCell{
    padding-left: 10px;
  }
}
@media screen and (max-width: 600px) {
  .encryptionkeyButton{
    margin-left: 55px;
  }
  a{
    width: 60px; display: inline-block; overflow-wrap: break-word;
  }
  .scandeviceButton{
    margin-left: 30px;
  }
  .scandeviceButtonREG{
    margin-left: 250px;
  }
  .testCaseCell{
    padding-left: 20px;
  }
  .crDateHeader{
    padding-left: 15px;
  }
  .lastRunHeader{
    padding-left: 10px;
  }
  .runHeader{
    padding-left: 30px;
  }
  .runCell{
    padding-left: 10px;
  }
  .scandeviceButton-android{
    margin-left: 250px;
  }
}
@media only screen and (max-width: 426px) {
  .fieldWrapper {
    width: 340px;
  }
  .fieldLabel {
    width: 80px;
  }
  .fieldContainerBox {
    width: 240px;
  }
  .projectTypeBt {
    width: 240px;
  }
  .tablediv{
    overflow-x: auto;
  }
  .collections-table{
    width: 800px;
  }
  .collections-button{
    position: relative;
    margin-left: 10px;
    width: 140px;
    float: left;
  }
  .encryptionkeyButton{
    width: 160px;
    margin-top: -40px;
    margin-left: 10px;
    position: absolute;
  }
  .scandeviceButton{
    width: 160px;
    margin-top: -40px;
    margin-left: -170px;
    position: absolute;
  }
  .scandeviceButton-android{
    margin-left: 80px;
  }
  .collectionicon{
    margin-left: -20px;
  }
  .encrypticon{
    margin-left: -17px;
  }
  .scandeviceicon{
    margin-left: -20px;
  }
  .scandeviceicon2{
    margin-left: -14px;
  }
  .collections-button2{
    position: absolute;
    width: 170px;
    height: 40px;
    float: left;
  }
  .collectionButtonMobile{
    margin-right: 180px;
    position: absolute;
    width: 170px;
    height: 40px;
  }
  .scandeviceButtonREG{
    position: relative;
    margin-left: 180px;
    width: 170px;
    height: 40px;
  }
  .buttonspan{
    margin-top: 45px;
    width: 100%;
    float: left;
  }
  .collections-header-container{
    width: 100%;
  }
  .nameHeader{
    width: 20px;
  }
  .nameCell{
    width:40px; 
  }
  a{
    width:70px; display: inline-block; overflow-wrap: break-word;
  }
  .testCaseHeader{
    padding-left: 40px;
  }
  .testCaseCell{
    padding-left: 60px;
  }
  .crDateHeader{
    padding-left: 20px;
    width: 90px;
  }
  .crDateCell{
    padding-left: 160px;
    width: 90px;
  }
  .lastRunHeader{
    padding-left: 60px;
    width: 120px;
  }
  .lastRunCell{
    padding-left: 60px;
    width: 120px;
  }
  .runHeader{
    padding-left: 10px;
    width: 10px;
  }
  .runCell{
    padding-left: 0px;
    width: 10px;
  }
  .actionsHeader{
    padding-left: 0px;
    width: 10px
  }
  .actionsCell{
    padding-left: 0px;
    width: 10px
  }
}
@media screen and (max-width: 385px){
  .scandeviceButtonREG{
    width: 150px;
  }
}
@media screen and (max-width: 402px) {
  .fieldWrapper {
    width: 330px;
    padding-left: -5px;
  }
  .fieldLabel {
    width: 60px;
  }
  .collections-button{
    width: 120px;
  }
  .scandeviceButton-android{
    margin-left: 60px;
  }
  .collections-button2{
    margin-left: 60px;
    width: 200px;
  }
  .scandeviceButtonREG{
    margin-top: 60px;
    margin-left: 60px;
    width: 200px;
    text-overflow:ellipsis;
  }
  .collectionButtonMobile{
    width: 200px;
    margin-right: 70px;
  }
  .scandeviceButtonREGMobile{
    width: 200px;
    margin-right: 70px;
    margin-top: 60px;
  }
}
@media screen and (max-width: 375px) {
  .tablediv{
    overflow-x: auto;
  }
  .collections-table{
    width: 800px;
  }
  .collections-button{
    position: relative;
    margin-left: 0px;
    width: 140px;
    float: left;
  }
  .encryptionkeyButton{
    width: 140px;
    margin-top: -40px;
    margin-left: -140px;
    position: absolute;
  }
  .scandeviceButton{
    width: 140px;
    margin-left: -5px;
    margin-top: -80px;
    position: absolute;
  }
  .scandeviceButton-android{
    margin-left: 30px;
  }
  .collectionicon{
    margin-left: -15px;
  }
  .encrypticon{
    margin-left: -12px;
  }
  .scandeviceicon{
    margin-left: -20px;
  }
  .scandeviceicon2{
    margin-left: -14px;
  }
  .collections-button2{
    position: absolute;
    margin-left: 60px;
    width: 180px;
    height: 40px;
    float: left;
  }
  .scandeviceButtonREG{
    position: relative;
    margin-left: 60px;
    width: 180px;
    height: 40px;
  }
  .buttonspan{
    margin-top: 45px;
    width: 100%;
    float: left;
  }
  .collections-header-container{
    width: 100%;
  }
  .nameHeader{
    width: 20px;
  }
  .nameCell{
    width:40px; 
  }
  a{
    width:70px; display: inline-block; overflow-wrap: break-word;
  }
  .testCaseHeader{
    padding-left: 140px;
  }
  .testCaseCell{
    padding-left: 160px;
  }
  .crDateHeader{
    padding-left: 20px;
    width: 90px;
  }
  .crDateCell{
    padding-left: 160px;
    width: 90px;
  }
  .lastRunHeader{
    padding-left: 60px;
    width: 120px;
  }
  .lastRunCell{
    padding-left: 60px;
    width: 120px;
  }
  .runHeader{
    opacity: 100%;
    padding-left: 20px;
    width: 20px;
  }
  .runCell{
    padding-left: 0px;
    width: 20px;
  }
  .actionsHeader{
    opacity: 100%;
    padding-left: 20px;
    width: 10px;
  }
  .actionsCell{
    padding-left: 20px;
    width: 10px;
  }
  .options{
    margin-left: -20px;
  }
}
@media screen and (max-width: 320px) {
  .fieldWrapper {
    width: 250px;
    display: block;
    padding-bottom: 20px;
  }
  .fieldContainerBox {
    width: 232px;
  }
  .projectTypeBt {
    width: 232px;
    padding-top: 20px;
  }
  .tablediv{
    overflow-x: auto;
  }
  .collections-table{
    width: 800px;
  }
  .collections-button{
    position: relative;
    margin-left: 0px;
    width: 130px;
    float: left;
  }
  .encryptionkeyButton{
    width: 130px;
    margin-top: -40px;
    margin-left: -130px;
    position: absolute;
  }
  .scandeviceButton{
    width: 130px;
    margin-left: -5px;
    margin-top: -80px;
    position: absolute;
  }
  .scandeviceButton-android{
    margin-left: 10px;
  }
  .collectionButtonMobile{
    width: 120px;
    margin-right: 140px;
  }
  .collectionicon{
    margin-left: -15px;
  }
  .encrypticon{
    margin-left: -12px;
  }
  .scandeviceicon{
    margin-left: -20px;
  }
  .scandeviceicon2{
    margin-left: -14px;
  }
  .collections-button2{
    position: absolute;
    margin-left: 40px;
    width: 180px;
    height: 40px;
    float: left;
  }
  .scandeviceButtonREG{
    position: relative;
    margin-left: 40px;
    width: 180px;
    height: 40px;
  }
  .buttonspan{
    margin-top: 45px;
    width: 100%;
    float: left;
  }
  .collections-header-container{
    width: 100%;
  }
  .nameHeader{
    width: 20px;
  }
  .nameCell{
    width:40px; 
  }
  a{
    width:70px; display: inline-block; overflow-wrap: break-word;
  }
  .testCaseHeader{
    padding-left: 140px;
  }
  .testCaseCell{
    padding-left: 160px;
  }
  .crDateHeader{
    padding-left: 20px;
    width: 90px;
  }
  .crDateCell{
    padding-left: 160px;
    width: 90px;
  }
  .lastRunHeader{
    padding-left: 60px;
    width: 120px;
  }
  .lastRunCell{
    padding-left: 60px;
    width: 120px;
  }
  .runHeader{
    opacity: 100%;
    padding-left: 20px;
    width: 20px;
  }
  .runCell{
    padding-left: 0px;
    width: 20px;
  }
  .actionsHeader{
    opacity: 100%;
    padding-left: 20px;
    width: 10px;
  }
  .actionsCell{
    padding-left: 20px;
    width: 10px;
  }
  .options{
    margin-left: -20px;
  }
  .projectNameHeader{
    font-size: small;
  }
}
