<p>
    <xng-breadcrumb></xng-breadcrumb>
</p>
<div class="spinner" *ngIf="!dataLoaded">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<div class="mat-elevation-z8" >
    <form [formGroup]="projectForm" *ngIf="dataLoaded">
        <div class="formContainer">
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>Project Name:
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <mat-form-field appearance="legacy" [style.width.px]=327>
                        <input matInput formControlName="name" #keyboardRef #input />
                    </mat-form-field>
                </span>
            </div>
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>Project Type:
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <div [style.width.px]=327>
                        <mat-radio-group aria-label="Select an option" formControlName="projectType"
                            appearance="legacy">
                            <mat-radio-button value="SBI">SBI</mat-radio-button>
                            <mat-radio-button value="SDK">SDK</mat-radio-button>
                            <mat-radio-button value="ABIS">ABIS</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </span>
            </div>
            <span *ngIf="projectForm.controls['projectType']?.value == 'SDK'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>URL:
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>URL:</mat-label>
                            <input matInput formControlName="sdkUrl" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['sdkUrl'].hasError('required')">
                                URL is required
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['sdkUrl'].hasError('pattern')">
                                URL is invalid
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Purpose:
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Purpose:</mat-label>
                            <mat-select formControlName="sdkPurpose" #singleSelect>
                                <mat-option value="matcher">
                                    Matcher
                                </mat-option>
                                <mat-option value="quality-check">
                                    Quality Check
                                </mat-option>
                                <mat-option value="extract-template">
                                    Extract Template
                                </mat-option>
                                <mat-option value="convert-format">
                                    Convert Format
                                </mat-option>
                                <mat-option value="segment">
                                    Segment
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['sdkPurpose'].hasError('required')">
                                Purpose is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Select Test Data:
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Select Test Data:</mat-label>
                            <mat-select formControlName="bioTestData" #singleSelect>
                                <mat-option value="DEFAULT">
                                    MOSIP-DEFAULT
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['bioTestData'].hasError('required')">
                                Test Data is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </span>
            <span *ngIf="projectForm.controls['projectType']?.value == 'SBI'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Purpose:
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-select formControlName="sbiPurpose" #singleSelect>
                                <mat-option value="Registration">
                                    Registration
                                </mat-option>
                                <mat-option value="Auth">
                                    Auth
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Device Type:
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-select formControlName="deviceType" #singleSelect>
                                <mat-option value="Finger">
                                    Finger
                                </mat-option>
                                <mat-option value="Iris">
                                    Iris
                                </mat-option>
                                <mat-option value="Face">
                                    Face
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Device Sub Type:
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-select formControlName="deviceSubType" #singleSelect>
                                <mat-option value="Slab" *ngIf="projectForm.controls['deviceType'].value == 'Finger'">
                                    Slab
                                </mat-option>
                                <mat-option value="Single" *ngIf="projectForm.controls['deviceType'].value == 'Finger'">
                                    Single
                                </mat-option>
                                <mat-option value="Touchless"
                                    *ngIf="projectForm.controls['deviceType'].value == 'Finger'">
                                    Touchless
                                </mat-option>
                                <mat-option value="Single" *ngIf="projectForm.controls['deviceType'].value == 'Iris'">
                                    Single
                                </mat-option>
                                <mat-option value="Double" *ngIf="projectForm.controls['deviceType'].value == 'Iris'">
                                    Double
                                </mat-option>
                                <mat-option value="Full" *ngIf="projectForm.controls['deviceType'].value == 'Face'">
                                    Full face
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </div>
            </span>
            <span *ngIf="projectForm.controls['projectType']?.value == 'ABIS'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>URL:
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>URL:</mat-label>
                            <input matInput formControlName="abisUrl" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['abisUrl'].hasError('required')">
                                URL is required
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['abisUrl'].hasError('pattern')">
                                URL is invalid
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Username:
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Username:</mat-label>
                            <input matInput formControlName="username" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['username'].hasError('required')">
                                Username is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Password:
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Password:</mat-label>
                            <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
                                formControlName="password">
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off'
                                : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="projectForm.controls['password'].hasError('required')">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Queue Name:
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Queue Name:</mat-label>
                            <input matInput formControlName="queueName" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['queueName'].hasError('required')">
                                Queue Name is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </span>
        </div>
    </form>
    <div class="button-container">
        <!-- <button mat-flat-button color="accent" (click)="showDashboard()" class="add-button">
            <mat-icon>home</mat-icon>
            Dashboard
        </button>
        <button mat-flat-button color="accent" (click)="saveProject()" class="add-button">
            <mat-icon>add</mat-icon>
            Add Project
        </button> -->
    </div>
</div>