<p>
    <xng-breadcrumb *ngIf="dataLoaded"></xng-breadcrumb>
</p>
<div class="spinner" *ngIf="!dataLoaded">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<p></p>
<mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-myobject="myobject">
        <button mat-menu-item (click)="viewTestRun(myobject)">View Last Test Run</button>
        <button mat-menu-item (click)="viewTestRunsHistory(myobject)">Test Run History</button>
    </ng-template>
</mat-menu>
<div class="mat-elevation-z8">
    <form [formGroup]="projectForm" *ngIf="dataLoaded">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                [expanded]="panelOpenState">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Project Name: {{projectForm.controls['name'].value}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!--content for expansion panel-->
                <div class="formContainer">
                    <div class="fieldWrapper">
                        <span class="fieldLabel">
                            <mat-label>Project Name:
                            </mat-label>
                        </span>
                        <span class="fieldContainer">
                            <mat-form-field appearance="legacy" class="fieldContainerBox">
                                <input matInput formControlName="name" #keyboardRef #input [readonly]="true" />
                            </mat-form-field>
                        </span>
                    </div>
                    <div class="fieldWrapper">
                        <span class="fieldLabel">
                            <mat-label>Project Type:
                            </mat-label>
                        </span>
                        <span class="fieldContainer">
                            <div class="projectTypeBt">
                                <mat-radio-group aria-label="Select an option" formControlName="projectType"
                                    appearance="legacy">
                                    <mat-radio-button value="SBI">SBI</mat-radio-button>
                                    <mat-radio-button value="SDK">SDK</mat-radio-button>
                                    <mat-radio-button value="ABIS">ABIS</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </span>
                    </div>
                    <span *ngIf="projectForm.controls['projectType']?.value == 'SDK'">
                        <div class="fieldWrapper">
                            <span class="fieldLabel">
                                <mat-label>Base URL:
                                </mat-label>
                            </span>
                            <span class="fieldContainer">
                                <mat-form-field appearance="legacy" class="fieldContainerBox">
                                    <mat-label>Base URL:</mat-label>
                                    <input matInput formControlName="sdkUrl" #keyboardRef #input
                                        (change)="updateProjectUrl()" />
                                    <mat-error *ngIf="projectForm.controls['sdkUrl'].hasError('required')">
                                        Base URL is required
                                    </mat-error>
                                    <mat-error *ngIf="projectForm.controls['sdkUrl'].hasError('pattern')">
                                        Base URL is invalid
                                    </mat-error>
                                </mat-form-field>
                            </span>
                            <div class="spinnerForUpdatingProject" *ngIf="updatingProjectUrl">
                                <mat-spinner diameter="25"></mat-spinner>
                            </div>
                        </div>
                        <div class="fieldWrapper">
                            <span class="fieldLabel">
                                <mat-label>Spec Version:
                                    <span class="required-annotation">*</span>
                                </mat-label>
                            </span>
                            <span class="fieldContainer">
                                <mat-form-field appearance="legacy" class="fieldContainerBox">
                                    <mat-label>Spec Version:</mat-label>
                                    <mat-select formControlName="sdkSpecVersion" #singleSelect>
                                        <mat-option value="0.9.0">
                                            0.9.0
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="projectForm.controls['sdkSpecVersion'].hasError('required')">
                                        Spec Version is required
                                    </mat-error>
                                </mat-form-field>
                            </span>
                        </div>
                        <div class="fieldWrapper">
                            <span class="fieldLabel">
                                <mat-label>Purpose:
                                </mat-label>
                            </span>
                            <span class="fieldContainer">
                                <mat-form-field appearance="legacy" class="fieldContainerBox">
                                    <mat-label>Purpose:</mat-label>
                                    <mat-select formControlName="sdkPurpose" #singleSelect
                                        (selectionChange)="handleSdkPurposeChange()">
                                        <mat-option value="Matcher">
                                            Matcher
                                        </mat-option>
                                        <mat-option value="Check Quality">
                                            Check Quality
                                        </mat-option>
                                        <mat-option value="Extract Template">
                                            Extract Template
                                        </mat-option>
                                        <mat-option value="Convert Format">
                                            Convert Format
                                        </mat-option>
                                        <!-- <mat-option value="Segment">
                                            Segment
                                        </mat-option> -->
                                    </mat-select>
                                    <mat-error *ngIf="projectForm.controls['sdkPurpose'].hasError('required')">
                                        Purpose is required
                                    </mat-error>
                                </mat-form-field>
                            </span>
                        </div>
                        <div class="fieldWrapper">
                            <span class="fieldLabel">
                                <mat-label>Select Test Data:
                                </mat-label>
                            </span>
                            <span class="fieldContainer">
                                <mat-form-field appearance="legacy" class="fieldContainerBox">
                                    <mat-label>Select Test Data:</mat-label>
                                    <mat-select formControlName="bioTestData" #singleSelect
                                        (selectionChange)="updateProjectTestData()">
                                        <mat-option value="MOSIP_DEFAULT">
                                            MOSIP_DEFAULT
                                        </mat-option>
                                        <span *ngFor="let item of bioTestDataFileNames">
                                            <mat-option [value]="item">
                                                {{item}}
                                            </mat-option>
                                        </span>
                                    </mat-select>
                                    <mat-error *ngIf="projectForm.controls['bioTestData'].hasError('required')">
                                        Test Data is required
                                    </mat-error>
                                </mat-form-field>
                            </span>
                            <div class="spinnerForUpdatingProject" *ngIf="updatingProjectTestData">
                                <mat-spinner diameter="25"></mat-spinner>
                            </div>
                        </div>
                    </span>
                    <span *ngIf="projectForm.controls['projectType']?.value == 'SBI'">
                        <div class="rowContainer">
                            <div class="fieldWrapper">
                                <span class="fieldLabel">
                                    <mat-label>Spec Version:
                                    </mat-label>
                                </span>
                                <span class="fieldContainer">
                                    <mat-form-field appearance="legacy" class="fieldContainerBox">
                                        <mat-select formControlName="sbiSpecVersion" #singleSelect>
                                            <mat-option value="0.9.5">
                                                0.9.5
                                            </mat-option>
                                            <mat-option value="1.0.0">
                                                1.0.0
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </span>
                            </div>
                            <div class="fieldWrapper">
                                <span class="fieldLabel">
                                    <mat-label>Purpose:
                                    </mat-label>
                                </span>
                                <span class="fieldContainer">
                                    <mat-form-field appearance="legacy" class="fieldContainerBox">
                                        <mat-select formControlName="sbiPurpose" #singleSelect>
                                            <mat-option value="Registration">
                                                Registration
                                            </mat-option>
                                            <mat-option value="Auth">
                                                Auth
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                        <div class="rowContainer">
                            <div class="fieldWrapper">
                                <span class="fieldLabel">
                                    <mat-label>Device Type:
                                    </mat-label>
                                </span>
                                <span class="fieldContainer">
                                    <mat-form-field appearance="legacy" class="fieldContainerBox">
                                        <mat-select formControlName="deviceType" #singleSelect>
                                            <mat-option value="Finger">
                                                Finger
                                            </mat-option>
                                            <mat-option value="Iris">
                                                Iris
                                            </mat-option>
                                            <mat-option value="Face">
                                                Face
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </span>
                            </div>
                            <div class="fieldWrapper">
                                <span class="fieldLabel">
                                    <mat-label>Device Sub Type:
                                    </mat-label>
                                </span>
                                <span class="fieldContainer">
                                    <mat-form-field appearance="legacy" class="fieldContainerBox">
                                        <mat-select formControlName="deviceSubType" #singleSelect>
                                            <mat-option value="Slap"
                                                *ngIf="projectForm.controls['deviceType'].value == 'Finger'">
                                                Slap
                                            </mat-option>
                                            <mat-option value="Single"
                                                *ngIf="projectForm.controls['deviceType'].value == 'Finger'">
                                                Single
                                            </mat-option>
                                            <mat-option value="Touchless"
                                                *ngIf="projectForm.controls['deviceType'].value == 'Finger'">
                                                Touchless
                                            </mat-option>
                                            <mat-option value="Single"
                                                *ngIf="projectForm.controls['deviceType'].value == 'Iris'">
                                                Single
                                            </mat-option>
                                            <mat-option value="Double"
                                                *ngIf="projectForm.controls['deviceType'].value == 'Iris'">
                                                Double
                                            </mat-option>
                                            <mat-option value="Full"
                                                *ngIf="projectForm.controls['deviceType'].value == 'Face'">
                                                Full face
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </span>
                            </div>
                        </div>
                    </span>
                    <span *ngIf="projectForm.controls['projectType']?.value == 'ABIS'">
                        <div class="fieldWrapper">
                            <span class="fieldLabel">
                                <mat-label>Base URL:
                                </mat-label>
                            </span>
                            <span class="fieldContainer">
                                <mat-form-field appearance="legacy" class="fieldContainerBox">
                                    <mat-label>Base URL:</mat-label>
                                    <input matInput formControlName="abisUrl" #keyboardRef #input />
                                    <mat-error *ngIf="projectForm.controls['abisUrl'].hasError('required')">
                                        Base URL is required
                                    </mat-error>
                                    <mat-error *ngIf="projectForm.controls['abisUrl'].hasError('pattern')">
                                        Base URL is invalid
                                    </mat-error>
                                </mat-form-field>
                            </span>
                        </div>
                        <div class="fieldWrapper">
                            <span class="fieldLabel">
                                <mat-label>Username:
                                </mat-label>
                            </span>
                            <span class="fieldContainer">
                                <mat-form-field appearance="legacy" class="fieldContainerBox">
                                    <mat-label>Username:</mat-label>
                                    <input matInput formControlName="username" #keyboardRef #input />
                                    <mat-error *ngIf="projectForm.controls['username'].hasError('required')">
                                        Username is required
                                    </mat-error>
                                </mat-form-field>
                            </span>
                        </div>
                        <div class="fieldWrapper">
                            <span class="fieldLabel">
                                <mat-label>Password:
                                </mat-label>
                            </span>
                            <span class="fieldContainer">
                                <mat-form-field appearance="legacy" class="fieldContainerBox">
                                    <mat-label>Password:</mat-label>
                                    <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
                                        formControlName="password">
                                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ?
                                        'visibility_off'
                                        : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="projectForm.controls['password'].hasError('required')">
                                        Password is required
                                    </mat-error>
                                </mat-form-field>
                            </span>
                        </div>
                        <div class="fieldWrapper">
                            <span class="fieldLabel">
                                <mat-label>Queue Name:
                                </mat-label>
                            </span>
                            <span class="fieldContainer">
                                <mat-form-field appearance="legacy" class="fieldContainerBox">
                                    <mat-label>Queue Name:</mat-label>
                                    <input matInput formControlName="queueName" #keyboardRef #input />
                                    <mat-error *ngIf="projectForm.controls['queueName'].hasError('required')">
                                        Queue Name is required
                                    </mat-error>
                                </mat-form-field>
                            </span>
                        </div>
                    </span>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
    <div class="list-container">
        <div class="collections-header-container">
            <div *ngIf="projectForm.controls['projectType']?.value == 'SDK'">
                <button mat-flat-button color="accent" (click)="addCollection()" class="collections-button">
                    <mat-icon class="collectionicon">add</mat-icon>
                    Add Collection
                </button>
            </div>
            <div *ngIf="projectForm.controls['sbiPurpose']?.value == 'Auth'">
                <button mat-flat-button color="accent" (click)="addCollection()" class="collections-button">
                    <mat-icon class="collectionicon">add</mat-icon>
                    Add Collection
                </button>
                <span align="end" class="buttonspan">
                    <button mat-flat-button color="accent" (click)="downloadEncryptionKey()"
                        title="Click to download encryption key for Auth devices" class="encryptionkeyButton">
                        <mat-icon class="encrypticon">save</mat-icon>
                        Encryption Key
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button mat-flat-button color="accent" (click)="scanDevice()" class="scandeviceButton">
                        <mat-icon *ngIf="isScanComplete" class="scandeviceicon">check_circle</mat-icon>
                        <mat-icon *ngIf="!isScanComplete" class="scandeviceicon2">radio_button_unchecked</mat-icon>
                        Scan Device
                    </button>
                </span>
            </div>
        <div *ngIf="projectForm.controls['sbiPurpose']?.value == 'Registration'">
            <button mat-flat-button color="accent" (click)="addCollection()" class="collections-button2">
                <mat-icon class="collectionicon">add</mat-icon>
                Add Collection
            </button>
            <button mat-flat-button color="accent" (click)="scanDevice()" class="scandeviceButtonREG" >
                <mat-icon *ngIf="isScanComplete">check_circle</mat-icon>
                <mat-icon *ngIf="!isScanComplete">radio_button_unchecked</mat-icon>
                Scan Device
            </button>
        </div>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
        <div class="tablediv">
        <table mat-table [dataSource]="dataSource" matSort class="collections-table">
            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameHeader"> Name </th>
                <td mat-cell *matCellDef="let element" class="nameCell">
                    <a class="link" (click)="viewCollection(element)"
                        *ngIf="element.testCaseCount > 0">{{element.name}}</a>
                    <span *ngIf="element.testCaseCount <= 0">{{element.name}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="testCaseCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="testCaseHeader"> Testcases </th>
                <td mat-cell *matCellDef="let element" class="testCaseCell"> {{element.testCaseCount}} </td>
            </ng-container>
            <ng-container matColumnDef="crDtimes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="crDateHeader"> Creation Date </th>
                <td mat-cell *matCellDef="let element" class="csDateCell"> {{element.crDtimes | date: 'short' }} </td>
            </ng-container>
            <ng-container matColumnDef="runDtimes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="lastRunHeader"> Last Run Date </th>
                <td mat-cell *matCellDef="let element" class="lastRunCell"> {{element.runDtimes | date: 'short'}} </td>
            </ng-container>
            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef class="runHeader"> Run </th>
                <td mat-cell *matCellDef="let row" class="runCell">
                    <button mat-flat-button color="accent" (click)="runCollection(row)" *ngIf="projectType == 'SBI'"
                        [disabled]="!isScanComplete || row.testCaseCount == 0"
                        title="{{!isScanComplete ? 'You cannot run till you scan device first.' : row.testCaseCount == 0 ? 'Add testcases first':'Click to run the collection'}}">
                        Run
                    </button>
                    <button mat-flat-button color="accent" (click)="runCollection(row)" *ngIf="projectType == 'SDK'"
                        [disabled]="row.testCaseCount == 0"
                        title="{{row.testCaseCount == 0 ? 'Add testcases first':'Click to run the collection'}}">
                        Run
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="actionsMore" stickyEnd>
                <th mat-header-cell *matHeaderCellDef class="actionsHeader">
                </th>
                <td mat-cell *matCellDef="let element" class="actionsCell">
                    <span *ngIf="element.runId">
                        <button mat-icon-button [matMenuTriggerFor]="appMenu"
                            [matMenuTriggerData]="{myobject: element}" class="options">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    </div>
</div>
<p></p>
&nbsp;
<div class="button-container">
    <button mat-flat-button color="accent" (click)="showDashboard()" class="add-button">
        <mat-icon>home</mat-icon>
        Dashboard
    </button>
    <!--<button mat-flat-button color="accent" (click)="saveProject()" class="add-button">
        <mat-icon>add</mat-icon>
        Add Project
    </button> -->
</div>