mat-expansion-panel-header {
  background-color: rgba(119, 136, 153, 0.26);
  color: black;
}
.formContainer {
  background-color: white;
}
.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.fieldWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  /* height: 50px; */
}
.fieldLabel {
  width: 20%;
}
.fieldContainer {
  width: 80%;
  align-items: center;
}
.fieldContainerBox{
  width: 300px;
}
.spacer {
  flex: 0.1;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 35px;
}
.required-annotation {
  color: red;
  margin-left: 3px;
}
.list-container {
  padding: 8px;
  background-color: white;
  /* border-top: 1px solid #ddd; */
}
.button-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100% !important;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  border-top: 1px solid #ddd;
}

.button-container + .add-button {
  margin-left: 8px;
}
::ng-deep.mat-select-value {
  padding: 5px !important;
}

.collections-table {
  width: 100%;
}
.collections-header-container {
  /* padding-bottom: 16px; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.collections-button + .collections-button {
  margin-left: 8px;
}
.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}
.spinnerForUpdatingProject {
  flex-direction: column;
  display: flex;
}
.link {
  cursor: pointer;
  color: #ff4081;
}
@media screen and (max-width: 600px) {
  .tablediv{
    overflow-x: auto;
  }
  .collections-table{
    width: 800px;
  }
  .collections-button{
    position: absolute;
    width: 355px;
    height: 40px;
    float: left;
    margin-right: 20px;
  }
  .encryptionkeyButton{
    margin-right:-11px;
    height: 40px;
    width: 173px;
    position:relative;
  }
  .scandeviceButton{
    width: 173px;
    position:relative;
    margin-right: 2px;
    height: 40px;
  }
  .buttonspan{
    margin-top: 45px;
    width: 100%;
    float: left;
  }
  .nameHeader{
    width: 20px;
  }
  .nameCell{
    width:40px; 
  }
  a{
    width:70px; display: inline-block; overflow-wrap: break-word;
  }
  .testCaseHeader{
    padding-left: 40px;
  }
  .testCaseCell{
    padding-left: 60px;
  }
  .crDateHeader{
    padding-left: 20px;
    width: 90px;
  }
  .crDateCell{
    padding-left: 160px;
    width: 90px;
  }
  .lastRunHeader{
    padding-left: 60px;
    width: 120px;
  }
  .lastRunCell{
    padding-left: 60px;
    width: 120px;
  }
  .runHeader{
    padding-left: 80px;
  }
  .runCell{
    padding-left: 60px;
  }
  .actionsHeader{
    padding-left: 20px;
  }
  .actionsCell{
    padding-left: 20px;
  }
}
@media screen and (max-width: 450px) {
  .fieldContainerBox{
    width: 250px;
  }
}