.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.dashboard-table {
  width: 100%;
}
.button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.mat-header-cell {
  background-color: rgba(119, 136, 153, 0.26);
  color: black;
}
.tabs{
  margin: 5px;
}
.tabcontent {
  padding: 2px;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
    background-color: white;
}
::ng-deep .mat-tab-header {
 
  border-bottom: none !important;
}
::ng-deep .mat-tab-label {
  background-color: transparent; 
}
::ng-deep .mat-tab-group.mat-primary {
  border-bottom: none !important;
}
::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: white; 
  color: black;
  padding: 5px;
  
  border: 1px solid rgb(212, 205, 205);
  border-radius: 0px;
}
::ng-deep .mat-tab-label {
  transition: background-color 0.3s ease-in-out;
}
.dashboard-button-first-container {
  /* padding-bottom: 16px; */
  float: right;
}
.dashboard-button + .dashboard-button {
  margin-left: 8px;
}
.spinner {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.link {
  cursor: pointer;
  color: #ff4081;
}
.custom-class mat-icon {
  vertical-align: middle;
}

.disabled-row {
  pointer-events: none;
  opacity: 0.6;
}

.disabled-link {
  pointer-events: none;
  color: gray;
}
@media screen and (max-width: 604px) {
  .table-scroll{
    overflow-x:auto;
  }
  .dashboard-table{
    width: 100%;
  }
  a{
    width:70px; display: inline-block; overflow-wrap: break-word;
  }
  .projecttype{
    padding-left: 20px;
  }
  .collectioncount{
    padding-left: 30px;
  }
  .crDateCell{
    width: 40px;
  }
  .lastRunDt{
    padding-left: 10px;
  }
  .lastRunDt1{
    width: 60px;
    padding-left: 10px;
  }
  .lastRunStatus{
    padding-left: 10px;
  }
  .lastRunStatus1{
    padding-left: 10px;
  }
}
@media screen and (max-width: 600px){
  .table-scroll{
    overflow-x:auto;
  }
  .dashboard-table{
    width: 800px;
  }
  .outerdiv{
    width: 100%;
  }
  .mat-elevation-z8{
    width: 100%;
    margin-left: -2px;  
  }
  .nameHeader{
    width: 80px;
  }
  .nameCell{
    width: 80px;
  }
  a{
    width:70px; display: inline-block; overflow-wrap: break-word;
  }
  .projectheader{
    width: 60px;
    padding-left: 20px;
  }
  .projecttype{
    width: 40px;
    padding-left: 30px;
  }
  .collectionheader{
    width: 80px;
    padding-left: 0px;
  }
  .collectioncount{
    width: 80px;
    padding-left: 20px;
  }
  .crDateHeader{
    padding-left:5px;
    width: 60px;
  }
  .crDateCell{
    font-family: 'Times New Roman', Times, serif;
    width: 60px;
    padding-left:5px;
  }
  .lastRunDt{
    width:60px;
    padding-left:50px;
  }
  .lastRunDt1{
    font-family: 'Times New Roman', Times, serif;
    width: 60px;
  padding-left:50px;
  }
  .lastRunStatus{
    padding-left: 60px;
    width: 100px;  
  }
  .lastRunStatus1{
    padding-left: 60px;
    width: 100px;  
  }
  .moreiconheader{
    width: 20px;
    padding-left: 0px;
  }
  .moreiconcell{
    width: 20px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 635px) {
  .filter-container {
    flex-direction: column;
  }

  ::ng-deep .mat-paginator-container {
    justify-content: center !important;
  }

  ::ng-deep .mat-paginator-page-size {
    margin-right: 2px !important;
  }

  ::ng-deep .mat-paginator-range-actions {
    margin-right: 12px !important;
  }
}


@media screen and (max-width: 442px) {
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: 150px;
  }
}
@media screen and (max-width: 321px){
  .dashboard-button-first-container {
    float: right;
    margin-right: -160px;
  }
  .dashboard-button2{
    width: 160px;
    margin-left: 60px;
  }
  .dashboard-button{
    width: 160px;
    margin-top: 40px;
    margin-left: -380px;
  }
  .filter{
    margin-top: 40px;
  }
}


