<div [dir]="textDirection">
<h2 mat-dialog-title class="mat-dialog-title" *ngIf="input && input.title">{{  input.title }}</h2>
<mat-dialog-content style="white-space: pre-line;">
    <span *ngIf="!scanComplete">{{ "scanDevice.scan" | translate }}</span>
    <span *ngIf="scanComplete && !previousScanAvailable && portsData.length > 0">
        <div class="custom-class">
            <mat-icon [ngStyle]="{color: 'green'}">check_circle</mat-icon>
            <span *ngIf="!isAndroidAppMode">
                {{ "scanDevice.selectPortAndDevice" | translate }}
            </span>
            <span *ngIf="isAndroidAppMode">
                {{ "scanDevice.selectDevice" | translate }}
            </span>
        </div>
    </span>
    <span *ngIf="scanComplete && portsData.length <= 0">
        <div class="custom-class">
            <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon> {{ "scanDevice.scanFail" | translate }}
        </div>
    </span>
    <span *ngIf="scanComplete && previousScanAvailable">
        <div class="custom-class">
            <mat-icon [ngStyle]="{color: 'green'}">check_circle</mat-icon> {{ "scanDevice.alreadyScan" | translate }}
        </div>
    </span>
    <div class="spinner" *ngIf="!scanComplete">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    <p></p>
    <div *ngIf="scanComplete">
        <form [formGroup]="scanForm" *ngIf="scanComplete && portsData.length > 0">
            <div class="formContainer">
                <mat-form-field appearance="legacy" class="formContainerBox">
                    <mat-label>
                        <span *ngIf="!isAndroidAppMode">{{ "scanDevice.availablePorts" | translate }}</span>
                        <span *ngIf="isAndroidAppMode">{{ "scanDevice.availableAppIntent" | translate }}</span></mat-label>
                    <mat-select formControlName="ports" #singleSelect (selectionChange)="showDevices()">
                        <ng-container *ngFor="let dropdown of portsData">
                            <mat-option [value]="dropdown">
                                {{ dropdown}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="scanForm.controls['ports'].hasError('required')">
                        {{ "scanDevice.portIsRequired" | translate }}
                    </mat-error>
                </mat-form-field>
                <p></p>
                <mat-form-field appearance="legacy" class="formContainerBox">
                    <mat-label>{{ "scanDevice.device" | translate }}</mat-label>
                    <mat-select formControlName="devices" #singleSelect class="selectdevice">
                        <ng-container *ngFor="let dropdown of devicesData">
                            <mat-option value="{{myjson.stringify(dropdown)}}" title="{{getDeviceLabel(dropdown)}}" class="deviceoptions">
                                {{getDeviceLabel(dropdown)}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="scanForm.controls['devices'].hasError('required')">
                        {{ "scanDevice.deviceIsRequired" | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <p></p>
        <p></p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="scanComplete">
    <button mat-flat-button color="accent" (click)="close()" class="closeBt">{{ "scanDevice.close" | translate }}</button>
    <span class="spacer" *ngIf="(portsData.length <= 0 || previousScanAvailable)"></span>
    <button mat-flat-button color="accent" (click)="startScan()"
        *ngIf="(portsData.length <= 0 || previousScanAvailable)" class="scanAgainBt">
        <mat-icon class="scanicon">cached</mat-icon>
        {{ "scanDevice.scanAgain" | translate }}
    </button>
    <span class="spacer" *ngIf="portsData.length > 0"></span>
    <button mat-flat-button color="accent" (click)="save()" *ngIf="portsData.length > 0" class="saveBt">
        <mat-icon class="saveicon">save</mat-icon>
        {{ "scanDevice.save" | translate }}
    </button>
</mat-dialog-actions>
</div>