.mat-dialog-title {
  color: #fd518c;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid #fd518c;
}
.formContainer {
  /* width: 100%; */
  background-color: white;
  padding: 5px;
  padding-left: 10px;
}
.formContainerBox {
  width: 500px;
}
.spinner {
  flex-direction: column;
  align-items: center;
  /* margin-top: 18vw; */
  display: flex;
}
mat-dialog-actions {
  /* padding-top: 10px;
  border-top: 1px solid #ff4081; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.spacer {
  flex: 1 1 auto;
}
.custom-class mat-icon {
  vertical-align: middle;
}
@media screen and (max-width: 480px) {
  .formContainerBox {
    width: 300px;
  }
}
@media screen and (max-width: 426px) {
  .formContainerBox {
    width: 280px;
  }
  .scanAgainBt {
    margin-left: -82px;
  }
  .closeBt {
    margin-left: -5px;
  }
  .saveBt {
    margin-right: -5px;
    position: fixed;
  }
  .selectdevice{
    width: 280px;
  }
  .deviceoptions{
    display: inline-block;
    overflow-x: auto;
  }
}
@media screen and (max-width: 412px) {
  .formContainerBox {
    margin-left: -5px;
  }
  .scanAgainBt {
    width: 110px;
    text-align: center;
    height: 35px;
    margin-left: -80px;
  }
  .scanicon{
    margin-left: -10px;
  }
  .closeBt {
    margin-left: -10px;
    margin-bottom: 0px;
  }
  .saveBt {
    margin-right: -10px;
    position: fixed;
  }
}
@media screen and (max-width: 375px) {
  .formContainerBox {
    width: 250px;
  }
  .scanAgainBt {
    width: 110px;
    height: auto;
    text-align: center;
    padding: 2px;
    margin-left: -57px;
  }
  .closeBt {
    width: 60px;
    text-align: center;
    padding: 2px;
    margin-left: -5px;
  }
  .saveBt {
    width: 60px;
    text-align: center;
    padding: 2px;
    margin-right: -5px;
    position: fixed;
  }
  .selectdevice{
    width: 250px;
  }
  .deviceoptions{
    display: inline-block;
    overflow-x: auto;
  }
}
@media screen and (min-width:321px) and (max-width: 374px) {
  .formContainerBox {
    width: 200px;
    margin-left: -5px;
  }
  .selectdevice{
    width: 100%;
  }
  ::ng-deep .mat-select-panel {
    max-width: 200px;
  }

}
@media screen and (max-width: 320px) {
  .formContainerBox {
    width: 200px;
    margin-left: -5px;
  }
  .scanAgainBt {
    width: 90px;
    height: auto;
    font-size: small;
    text-align: center;
    padding: 2px;
    margin-left: -50px;
  }
  .scanicon{
    font-size: medium;
    margin-bottom: -5px;
    margin-right: -5px;
    margin-left: -5px;
  }
  .closeBt {
    width: 40px;
    font-size: small;
    text-align: center;
    padding: 2px;
    margin-left: -15px;
  }
  .saveBt {
    width: 40px;
    font-size: small;
    text-align: center;
    padding: 2px;
    margin-right: -15px;
    position: fixed;
  }
  .saveicon{
    font-size: medium;
    margin-bottom: -5px;
    margin-right: -5px;
  }
  .selectdevice{
    width: 200px;
  }
  .deviceoptions{
    display: inline-block;
    overflow-x: auto;
  }
  ::ng-deep .mat-select-panel {
    max-width: 200px;
  }
}