<h2 mat-dialog-title class="mat-dialog-title" *ngIf="input.title">{{ input.title }}</h2>
<mat-dialog-content style="white-space: pre-line;">
    <span *ngIf="!scanComplete">Scanning for devices..</span>
    <span *ngIf="scanComplete && !previousScanAvailable && portsData.length > 0">
        <div class="custom-class">
            <mat-icon [ngStyle]="{color: 'green'}">check_circle</mat-icon> Scanning complete. Select port and device.
        </div>
    </span>
    <span *ngIf="scanComplete && portsData.length <= 0">
        <div class="custom-class">
            <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon>  Scanning failed. Connect your device and
            scan again.
        </div>
    </span>
    <span *ngIf="scanComplete && previousScanAvailable">
        <div class="custom-class">
            <mat-icon [ngStyle]="{color: 'green'}">check_circle</mat-icon> Scanning already complete.
        </div>
    </span>
    <div class="spinner" *ngIf="!scanComplete">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    <p></p>
    <div *ngIf="scanComplete">
        <form [formGroup]="scanForm" *ngIf="scanComplete && portsData.length > 0">
            <div class="formContainer">
                <mat-form-field appearance="legacy" [style.width.px]=500>
                    <mat-label>Available Ports:</mat-label>
                    <mat-select formControlName="ports" #singleSelect (selectionChange)="showDevices()">
                        <ng-container *ngFor="let dropdown of portsData">
                            <mat-option [value]="dropdown">
                                {{ dropdown}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="scanForm.controls['ports'].hasError('required')">
                        Port is required
                    </mat-error>
                </mat-form-field>
                <p></p>
                <mat-form-field appearance="legacy" [style.width.px]=500>
                    <mat-label>Device:</mat-label>
                    <mat-select formControlName="devices" #singleSelect>
                        <ng-container *ngFor="let dropdown of devicesData">
                            <mat-option value="{{myjson.stringify(dropdown)}}" title="{{getDeviceLabel(dropdown)}}">
                                {{getDeviceLabel(dropdown)}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="scanForm.controls['devices'].hasError('required')">
                        Device is required
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <p></p>
        <p></p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="scanComplete">
    <button mat-flat-button color="accent" (click)="close()">Close</button>
    <span class="spacer" *ngIf="(portsData.length <= 0 || previousScanAvailable)"></span>
    <button mat-flat-button color="accent" (click)="startScan()"
        *ngIf="(portsData.length <= 0 || previousScanAvailable)">
        <mat-icon>cached</mat-icon>
        Scan Again
    </button>
    <span class="spacer" *ngIf="portsData.length > 0"></span>
    <button mat-flat-button color="accent" (click)="save()" *ngIf="portsData.length > 0">
        <mat-icon>save</mat-icon>
        Save
    </button>
</mat-dialog-actions>