<h2 mat-dialog-title *ngIf="input.title">{{ input.title }}</h2>
<mat-dialog-content style="white-space: pre-line;">
    <span *ngIf="!scanComplete">Scanning for devices..</span>
    <span *ngIf="scanComplete && !previousScanAvailable && portsData.length > 0" style="color: #fd518c;">Scanning
        complete. Select port and device.</span>
    <span *ngIf="scanComplete && portsData.length <= 0" style="color: #fd518c;">Scanning failed. Connect your device and
        scan again.</span>
    <span *ngIf="scanComplete && previousScanAvailable" style="color: #fd518c;">Scanning already complete.</span>
    <div class="spinner" *ngIf="!scanComplete">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    <p></p>
    <div *ngIf="scanComplete">
        <form [formGroup]="scanForm" *ngIf="scanComplete && portsData.length > 0">
            <div class="formContainer">
                <mat-form-field appearance="legacy" [style.width.px]=500>
                    <mat-label>Available Ports:</mat-label>
                    <mat-select formControlName="ports" #singleSelect (selectionChange)="showDevices()">
                        <ng-container *ngFor="let dropdown of portsData">
                            <mat-option [value]="dropdown">
                                {{ dropdown}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="scanForm.controls['ports'].hasError('required')">
                        Port is required
                    </mat-error>
                </mat-form-field>
                <p></p>
                <mat-form-field appearance="legacy" [style.width.px]=500>
                    <mat-label>Device:</mat-label>
                    <mat-select formControlName="devices" #singleSelect>
                        <ng-container *ngFor="let dropdown of devicesData">
                            <mat-option value="{{myjson.stringify(dropdown)}}" title="{{getDeviceLabel(dropdown)}}">
                                {{getDeviceLabel(dropdown)}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="scanForm.controls['devices'].hasError('required')">
                        Device is required
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="startScan()"
        *ngIf="scanComplete && (portsData.length <= 0 || previousScanAvailable)">Scan
        Again</button>
    <button mat-flat-button color="accent" (click)="save()" *ngIf="scanComplete && portsData.length > 0">Save</button>
</mat-dialog-actions>