.button-container {
  padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 98% !important;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    border-top: 1px solid #ddd;
}
.mat-header-cell {
  background-color: rgba(119, 136, 153, 0.26);
  color: black;
}
.back-button{
  background-color: var(--secondary-color);
  color: var(--button-font-color);
}
.button-container + .add-button + .back-button{
  margin-left: 8px;
}
.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}
.table-container {
  /* height: 500px; */
  /* overflow: auto; */
}
.testcases-table {
  width: 100%;
  /* width: 50%; */
}
.mat-elevation-z8 {
  box-shadow:
    0 -1px 0px -1px rgba(0, 0, 0, 0.25),
    0 1px 2px 0px rgba(0, 0, 0, 0.5),
    0 1px 2px 0px rgba(0, 0, 0, 0.12)
}
.custom-class mat-icon {
  vertical-align: middle;
}
tr.expanded-row {
  height: 0;
}
tr.table-row:not(.table-expanded-row):hover {
  background: whitesmoke;
}

tr.table-row:not(.table-expanded-row):active {
  background: #efefef;
}
mat-accordion {
  border: 1px solid #ddd;
  background: 1px solid #ddd;
}
mat-expansion-panel {
  /* background-color: rgba(119, 136, 153, 0.26);
  color: black; */
}
.table-row td {
  border-bottom-width: 0;
}
.expanded-details {
  display: flex;
  overflow: hidden;
  width: 1160px;
  flex-direction: column;
}

.details-container {
  border: 2px solid black;
  padding: 20px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}
.json-content {
  word-wrap: break-word;
  
}
.json-content-table {
  overflow: auto;
  display: flex;
  flex-direction: column;
}
mat-panel-title {
  display: flex;
  justify-content: space-between;
}

.other-details {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
@media screen and (max-width: 960px) {
  .table-container{
    overflow-x: auto;
  }
  .testcases-table{
    width: 100%;
  }
  .expanded-details{
    width: 800px;
  }
  .testIDHeader{
    width: 150px;
  }
  .testIDCell{
    width: 150px;
  }
  .testNameHeader{
    width: 400px;
    padding-left: 35px;
  }
  .testNameCell{
    width: 400px;
    padding-left: 10px;
  }
  .resultStatusHeader{
    width: 100px;
    padding-left: 10px;
  }
  .resultStatusCell{
    width: 100px;
  }
  .executionStatusHeader{
    padding-left: 10px;
  }
  .executionStatusCell{
    padding-left: 20px;
  }
  .expandHeader{
    width: 50px;
  }
  .expandCell{
    width: 50px;
  }
}
@media screen and (min-width: 810px) and (max-width: 890px) {
  .expanded-details{
    width: 750px;
  }
  .executionStatusCell{
    padding-left: 0px;
  }
}
@media screen and (min-width: 810px) and (max-width: 840px) {
  .expanded-details{
    width: 700px;
  }
  .executionStatusCell{
    padding-left: 0px;
  }
}
@media screen and (max-width: 810px) {
  .testcases-table{
    width: 100%;
  }
  .table-container{
    overflow-x: auto;
  }
  .expanded-details{
    width: 700px;
  }
  .testIDHeader{
    width: 80px;
  }
  .testIDCell{
    width: 80px;
  }
  .testNameHeader{
    width: 300px;
  }
  .testNameCell{
    width: 300px
  }
  .resultStatusHeader{
    width: 80px;
    padding-left: 10px;
  }
  .resultStatusCell{
    width: 80px;
  }
  .executionStatusHeader{
    padding-left: 20px;
  }
  .expandHeader{
    width: 20px;
  }
  .expandCell{
    width: 20px; 
  }
}
@media screen and (min-width: 740px) and (max-width: 785px) {
  .expanded-details{
    width: 650px;
  }
  .executionStatusCell{
    padding-left: 0px;
  }
  .testIDHeader{
    width: 80px;
  }
  .testIDCell{
    width: 80px;
  }
}
@media screen and (min-width: 700px) and (max-width: 740px) {
  .expanded-details{
    width: 600px;
  }
  .executionStatusCell{
    padding-left: 0px;
  }
  .testIDHeader{
    width: 80px;
  }
  .testIDCell{
    width: 80px;
  }
}
@media screen and (max-width: 604px) {
  .testcases-table{
    width: 100%;
  }
  .table-container{
    overflow-x: auto;
  }
}
@media screen and (max-width: 600px) {
  .expandHeader{
    width: 50px;
  }
  .expandCell{
    width: 50px;
  }
}
@media screen and (max-width: 430px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .add-button,
  .back-button {
    width: 168px !important;
    margin-top: 3px;
  }
}
@media screen and (min-width: 389px) and (max-width: 430px) {
  .table-container{
    overflow-x: auto;
  }
  .testcases-table{
    width: 100%;
  }
  .testNameHeader{
    padding-left: 20px;
    width: 20px;
  }
  .testNameCell{
    padding-left: 20px;
    width: 20px;
  }
  .testIDCell{
    padding-left: 20px;
    width: 20px;
  }
  .testIDHeader{
    padding-left: 20px;
    width: 20px;
  }
  .resultStatusHeader{
    padding-left: 20px;
  }
  .resultStatusCell{
      padding-left: 20px;
  }
  .executionStatusHeader{
    padding-left: 20px;
  }
  .executionStatusCell{
      padding-left: 20px;
  }
  .expandHeader{
    width: 20px;
  }
  .expandCell{
    width: 20px;
  }
  .expanded-details{
    width: 300px;
  }
}
@media screen and (min-width: 319px) and (max-width: 388px) {
  /* .mat-elevation-z8{
    width: 100px;
  } */
  .table-container{
    overflow-x: auto;
  }
  .testcases-table{
    width: 100%;
  }
  .testNameHeader{
    padding-left: 20px;
    width: 20px;
  }
  .testNameCell{
    padding-left: 20px;
    width: 20px;
  }
  .testIDCell{
    padding-left: 20px;
    width: 20px;
  }
  .testIDHeader{
    padding-left: 20px;
    width: 20px;
  }
  .resultStatusHeader{
    padding-left: 20px;
  }
  .resultStatusCell{
      padding-left: 20px;
  }
  .executionStatusHeader{
    padding-left: 20px;
  }
  .executionStatusCell{
      padding-left: 20px;
  }
  .expandHeader{
    width: 20px;
  }
  .expandCell{
    width: 20px;
  }
  .expanded-details{
    width: 250px;
  }
}
.mat-column-testId {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
}
.mat-column-testName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 50% !important;
  overflow-wrap: break-word;
}
.mat-column-resultStatus {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
}
.mat-column-executionStatus {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
}
.mat-column-expand {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 1cap !important;
  overflow-wrap: break-word;
}