.button-container {
  padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 98% !important;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    border-top: 1px solid #ddd;
}
.mat-header-cell {
  background-color: rgba(119, 136, 153, 0.26);
  color: black;
}

.button-container + .add-button {
  margin-left: 8px;
}
.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}
.table-container {
  /* height: 500px; */
  overflow: auto;
}
.testcases-table {
  width: 100%;
  /* width: 50%; */
}
.custom-class mat-icon {
  vertical-align: middle;
}
tr.expanded-row {
  height: 0;
}
tr.table-row:not(.table-expanded-row):hover {
  background: whitesmoke;
}

tr.table-row:not(.table-expanded-row):active {
  background: #efefef;
}
mat-accordion {
  border: 1px solid #ddd;
  background: 1px solid #ddd;
}
mat-expansion-panel {
  /* background-color: rgba(119, 136, 153, 0.26);
  color: black; */
}
.table-row td {
  border-bottom-width: 0;
}
.expanded-details {
  display: flex;
  overflow: hidden;
  width: 1200px;
  flex-direction: column;
}

.details-container {
  border: 2px solid black;
  padding: 20px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}
.json-content {
  word-wrap: break-word;
  
}
.json-content-table {
  overflow: auto;
  display: flex;
  flex-direction: column;
}
mat-panel-title {
  display: flex;
  justify-content: space-between;
}

.other-details {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .expandHeader{
    width: 60px;
  }
  .expandCell{
    width: 60px;
  }
}