<div class="outerdiv" [dir]="textDirection">
<mat-toolbar>
  <div class="mosip-logo">
    <a *ngIf="!authService.isAuthenticated()" href="./" mat-list-item>
      <span><img src="./assets/images/logo-final.png" width="120" height="50" alt="Logo" /></span>&nbsp;
    <span><strong class="version-txt">Compliance Toolkit {{ appVersion }}</strong></span>
    </a>
    <a *ngIf="authService.isAuthenticated()" (click)="onLogoClick()" style="position: relative;" mat-list-item>
      <span><img src="./assets/images/logo-final.png" width="120" height="50" alt="Logo" /></span>&nbsp;
    <span><strong class="version-txt">Compliance Toolkit {{ appVersion }}</strong></span>
    </a>
    
  </div>
  <div class="profile">
    <div id="menuButton">
      <div *ngIf="profile?.type === 'profile'">
        <span>
          <img src="{{profile?.profileImg}}" alt="Profile">
        </span>
        <span>
          <button class="menu-button" [matMenuTriggerFor]="menu">
            <div class="mat-caption">{{userName}}</div>
          </button>
        </span>
        <mat-menu #menu="matMenu" backdropClass="profile">
          <ng-container *ngFor="let item of profile.menuList">
            <button (click)="onItem()" mat-menu-item>{{ "dialogMessages.logout" | translate }}</button>
          </ng-container>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
</div>