<div [dir]="textDirection">
<p>
    <xng-breadcrumb *ngIf="dataLoaded"></xng-breadcrumb>
</p>
<div class="spinner" *ngIf="!dataLoaded">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<div class="mat-elevation-z8" *ngIf="dataLoaded">
    <div class="formContainer">
        <form [formGroup]="projectForm">
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>{{ "addProject.Project Name:" | translate }}
                        <span class="required-annotation">*</span>
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <mat-form-field appearance="legacy" class="fieldContainerBox">
                        <mat-label>{{ "addProject.Project Name:" | translate }}</mat-label>
                        <input matInput formControlName="name" #keyboardRef #input />
                        <mat-error *ngIf="projectForm.controls['name'].hasError('required')">
                            {{"addProject.Project Name is required"|translate}}
                        </mat-error>
                    </mat-form-field>
                </span>
            </div>
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>{{ "addProject.Project Type:" | translate }}
                        <span class="required-annotation">*</span>
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <div class="projectTypeBt">
                        <mat-radio-group aria-label="Select an option" formControlName="projectType" appearance="legacy"
                            (change)="handleProjectTypeChange()">
                            <span *ngIf="!isAndroidAppMode">
                                <mat-radio-button value="SBI">SBI</mat-radio-button>
                                <mat-radio-button value="SDK">SDK</mat-radio-button>
                                <mat-radio-button value="ABIS">ABIS</mat-radio-button>
                            </span>
                            <span *ngIf="isAndroidAppMode">
                                <mat-radio-button value="SBI">SBI</mat-radio-button>
                                <mat-radio-button value="SDK" disabled="true">SDK</mat-radio-button>
                                <mat-radio-button value="ABIS" disabled="true">ABIS</mat-radio-button>
                            </span>
                        </mat-radio-group>
                        <mat-error
                            *ngIf="projectForm.touched && projectForm.controls['projectType'].hasError('required')">
                            {{"addProject.Project Type is required"|translate}}
                        </mat-error>
                    </div>
                </span>
            </div>
            <div *ngIf="projectForm.controls['projectType']?.value == 'SDK'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Base URL:" | translate }}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Base URL:" | translate }}</mat-label>
                            <input matInput formControlName="sdkUrl" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['sdkUrl'].hasError('required')">
                                {{"addProject.Base URL is required" | translate}}
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['sdkUrl'].hasError('pattern')">
                                {{"addProject.Base URL is invalid" | translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{ "addProject.Spec Version:" | translate }}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{ "addProject.Spec Version:" | translate }}</mat-label>
                            <mat-select formControlName="sdkSpecVersion" #singleSelect>
                                <mat-option value="0.9.0">
                                    0.9.0
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['sdkSpecVersion'].hasError('required')">
                                {{"addProject.Spec Version is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Purpose:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Purpose:" | translate }}</mat-label>
                            <mat-select formControlName="sdkPurpose" #singleSelect (selectionChange)="handleSdkPurposeChange()">
                                <mat-option value="Matcher">
                                    {{"Matcher"|translate}}
                                </mat-option>
                                <mat-option value="Check Quality">
                                    {{"Check Quality"|translate}}
                                </mat-option>
                                <mat-option value="Extract Template">
                                    {{"Extract Template"|translate}}
                                </mat-option>
                                <mat-option value="Convert Format">
                                    {{"Convert Format"|translate}}
                                </mat-option>
                                <!-- <mat-option value="Segment">
                                    Segment
                                </mat-option> -->
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['sdkPurpose'].hasError('required')">
                                {{"addProject.Purpose is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Select Test Data:" | translate}}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Select Test Data:" | translate}}</mat-label>
                            <mat-select formControlName="bioTestData" #singleSelect>
                                <mat-option value="MOSIP_DEFAULT">
                                    MOSIP_DEFAULT
                                </mat-option>
                                <span *ngFor="let item of bioTestDataFileNames">
                                    <mat-option [value]="item">
                                        {{item}}
                                    </mat-option>
                                </span>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['bioTestData'].hasError('required')">
                                {{"addProject.Test data is required" | translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </div>
            <div *ngIf="projectForm.controls['projectType']?.value == 'SBI'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{ "addProject.Spec Version:" | translate }}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{ "addProject.Spec Version:" | translate }}</mat-label>
                            <mat-select formControlName="sbiSpecVersion" #singleSelect>
                                <mat-option value="0.9.5">
                                    0.9.5
                                </mat-option>
                                <mat-option value="1.0.0" disabled="true">
                                    1.0.0
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['sbiSpecVersion'].hasError('required')">
                                {{"addProject.Spec Version is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Purpose:" | translate }}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Purpose:" | translate }}</mat-label>
                            <mat-select formControlName="sbiPurpose" #singleSelect
                                (selectionChange)="handleSbiPurposeChange()">
                                <mat-option value="Registration">
                                    Registration
                                </mat-option>
                                <mat-option value="Auth">
                                    Auth
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['sbiPurpose'].hasError('required')">
                                {{"addProject.Purpose is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Device Type:"|translate}}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Device Type:"|translate}}</mat-label>
                            <mat-select formControlName="deviceType" #singleSelect>
                                <mat-option value="Finger">
                                    Finger
                                </mat-option>
                                <mat-option value="Iris">
                                    Iris
                                </mat-option>
                                <mat-option value="Face">
                                    Face
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['deviceType'].hasError('required')">
                                {{"addProject.Device Type is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Device Sub Type:"|translate}}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Device Sub Type:"|translate}}</mat-label>
                            <mat-select formControlName="deviceSubType" #singleSelect>
                                <mat-option value="Slap" *ngIf="projectForm.controls['deviceType'].value == 'Finger'">
                                    Slap
                                </mat-option>
                                <mat-option value="Single" *ngIf="projectForm.controls['deviceType'].value == 'Finger'
                                && projectForm.controls['sbiPurpose'].value == 'Auth'">
                                    Single
                                </mat-option>
                                <mat-option value="Touchless"
                                    *ngIf="projectForm.controls['deviceType'].value == 'Finger'">
                                    Touchless
                                </mat-option>
                                <mat-option value="Single" *ngIf="projectForm.controls['deviceType'].value == 'Iris'
                                && projectForm.controls['sbiPurpose'].value == 'Auth'">
                                    Single
                                </mat-option>
                                <mat-option value="Double" *ngIf="projectForm.controls['deviceType'].value == 'Iris'
                                ">
                                    Double
                                </mat-option>
                                <mat-option value="Full face"
                                    *ngIf="projectForm.controls['deviceType'].value == 'Face'">
                                    Full face
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['deviceSubType'].hasError('required')">
                                {{"addProject.Device Sub Type is required"|translate}}
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['deviceSubType'].hasError('invalid')">
                                {{"addProject.Device Sub Type is invalid"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </div>
            <div *ngIf="projectForm.controls['projectType']?.value == 'ABIS'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Base URL:" | translate }}</mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Base URL:" | translate }}</mat-label>
                            <input matInput formControlName="abisUrl" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['abisUrl'].hasError('required')">
                                {{"addProject.Base URL is required" | translate}}
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['abisUrl'].hasError('pattern')">
                                {{"addProject.Base URL is invalid" | translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Username:"|translate}}
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Username:"|translate}}</mat-label>
                            <input matInput formControlName="username" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['username'].hasError('required')">
                                {{"addProject.Username is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Password:"|translate}}
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Password:"|translate}}</mat-label>
                            <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
                                formControlName="password">
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ?
                                'visibility_off'
                                : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="projectForm.controls['password'].hasError('required')">
                                {{"addProject.Password is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Outbound Queue Name:"|translate}}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Outbound Queue Name:"|translate}}</mat-label>
                            <input matInput formControlName="outboundQueueName" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['outboundQueueName'].hasError('required')">
                                {{"addProject.Outbound Queue Name is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Inbound Queue Name:"|translate}}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Inbound Queue Name:"|translate}}</mat-label>
                            <input matInput formControlName="inboundQueueName" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['inboundQueueName'].hasError('required')">
                                {{"addProject.Inbound Queue Name is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{ "addProject.Spec Version:" | translate }}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{ "addProject.Spec Version:" | translate }}</mat-label>
                            <mat-select formControlName="abisSpecVersion" #singleSelect>
                                <mat-option value="0.9.0">
                                    0.9.0
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['abisSpecVersion'].hasError('required')">
                                {{"addProject.Spec Version is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Purpose:" | translate }}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Purpose:" | translate }}</mat-label>
                            <mat-select formControlName="abisPurpose" #singleSelect  (selectionChange)="handleAbisPurposeChange()">
                                <mat-option value="Insert">
                                    Insert
                                </mat-option>
                                <mat-option value="Identify">
                                    Identify
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['abisPurpose'].hasError('required')">
                                {{"addProject.Purpose is required"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"addProject.Select Test Data:" | translate}}
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"addProject.Select Test Data:" | translate}}</mat-label>
                            <mat-select formControlName="abisBioTestData" #singleSelect>
                                <mat-option value="MOSIP_DEFAULT">
                                    MOSIP_DEFAULT
                                </mat-option>
                                <span *ngFor="let item of bioTestDataFileNames">
                                    <mat-option [value]="item">
                                        {{item}}
                                    </mat-option>
                                </span>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['abisBioTestData'].hasError('required')">
                                {{"addProject.Test data is required" | translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </div>
            <br><br>
        </form>
    </div>
</div>
<div class="button-container">
    <button mat-flat-button color="accent" (click)="showDashboard()" class="add-button">
        <mat-icon>home</mat-icon>
        {{"addProject.Dashboard"|translate}}
    </button>
    <button mat-flat-button color="accent" [disabled]="dataSubmitted" (click)="saveProject()" class="add-button">
        <mat-icon>save</mat-icon>
        {{"addProject.Save Project"|translate}}
    </button>
</div>
</div>