.formContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
}
.fieldWrapper {
  display: flex;
  flex: 1;
  justify-content: first baseline;
  align-items: center;
  padding: 5px;
  /* height: 50px;
  width: 340px; */
}
.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.fieldLabel {
  width: 20%;
}
.fieldContainer {
  width: 80%;
  align-items: center;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 35px;
}
.required-annotation {
  color: red;
  margin-left: 3px;
}
.button-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  position: fixed;
  bottom: 0px;
  left: 10px;
  background-color: white;
  border-top: 1px solid #ddd;
}

.button-container + .add-button {
  margin-left: 8px;
}
::ng-deep.mat-select-value {
  padding: 5px !important;
}
.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}
.cell-list {
  padding: 10px;
  font-size: smaller;
}
.testcases-table {
  font-size: smaller;
  width: 100%;
}
.deviceImgFieldWrapper {
  display: flex;
  flex: 1;
  justify-content: first baseline;
  align-items: center;
  padding: 5px;
}
.deviceImgFieldLabel {
  width: 60px;
}
.deviceImgFieldContainer {
  margin-left: 30px;
}
.fileuploadbtn {
  width: 200px;
  margin-left: 30px;
}
@media screen and (max-width: 2560px) {
  .fieldContainerBox {
    width: 250px;
    padding-left: 10px;
  }
  .projectTypeBt {
    width: 250px;
    padding-left: 10px;
  }
  .deviceImgFieldWrapper {
    align-items: start;
    padding: 5px;
  }
  .deviceImgFieldContainer {
    margin-left: 40px;
  }
  .fileuploadbtn {
    width: 200px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .deviceImgFieldContainer {
    margin-left: 70px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .deviceImgFieldContainer {
    margin-left: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .fileuploadbtn {
    width: 200px;
    margin-left: 7px;
  }
}
@media screen and (max-width: 1024px) {
  .deviceImgFieldContainer {
    margin-left: 50px;
  }
  .fileuploadbtn {
    width: 200px;
    margin-left: 4px;
  }
}
@media screen and (max-width: 900px) {
  .fileuploadbtn {
    width: 200px;
    margin-left: 1px;
  }
}
@media screen and (max-width: 770px) {
  .button-container {
    width: 90%;
  }
  .deviceImgFieldContainer {
    margin-left: 30px;
  }
}
@media screen and (max-width: 680px) {
  .deviceImgFieldContainer {
    margin-left: 90px;
  }
}
@media screen and (max-width: 480px) {
  .fieldLabel {
    width: 80px;
  }
  .fieldContainerBox {
    width: 240px;
  }
  .projectTypeBt {
    width: 240px;
  }
  .button-container {
    width: 90%;
  }
  .deviceImgFieldContainer {
    margin-left: 45px;
  }
}
@media screen and (max-width: 426px) {
  .button-container{
    width: 90%;
  }
  .deviceImgFieldContainer {
    margin-left: 12px;
  }
  .fileuploadbtn {
    width: 240px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 365px) {
  .formContainer {
    width: 270px;
    height: 450px;
    overflow-x: auto;
  }
  .fieldWrapper {
    width: 250px;
    display: block;
    padding-bottom: 20px;
  }
  .deviceImgFieldWrapper {
    width: 250px;
    display: block;
    padding-bottom: 20px;
  }
  .fieldLabel {
    width: 20px;
  }
  .fieldContainerBox {
    width: 232px;
  }
  .projectTypeBt {
    width: 232px;
    padding-top: 20px;
  }
  .button-container {
    width: 270px;
  }
  .fileuploadbtn {
    width: 232px;
  }
  .deviceImgFieldContainer {
    margin-left: -5px;
  }
}