<p>
    <xng-breadcrumb  *ngIf="dataLoaded"></xng-breadcrumb>
</p>
<div class="spinner" *ngIf="!dataLoaded">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<div class="mat-elevation-z8" *ngIf="dataLoaded">
    <div class="formContainer">
        <form [formGroup]="projectForm">
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>Project Name:
                        <span class="required-annotation">*</span>
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <mat-form-field appearance="legacy" [style.width.px]=327>
                        <mat-label>Project Name:</mat-label>
                        <input matInput formControlName="name" #keyboardRef #input />
                        <mat-error *ngIf="projectForm.controls['name'].hasError('required')">
                            Project Name is required
                        </mat-error>
                    </mat-form-field>
                </span>
            </div>
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>Project Type:
                        <span class="required-annotation">*</span>
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <div [style.width.px]=327>
                        <mat-radio-group aria-label="Select an option" formControlName="projectType" appearance="legacy"
                            (change)="handleProjectTypeChange()">
                            <mat-radio-button value="SBI">SBI</mat-radio-button>
                            <mat-radio-button value="SDK">SDK</mat-radio-button>
                            <mat-radio-button value="ABIS" disabled="true">ABIS</mat-radio-button>
                        </mat-radio-group>
                        <mat-error
                            *ngIf="projectForm.touched && projectForm.controls['projectType'].hasError('required')">
                            Project Type is required
                        </mat-error>
                    </div>
                </span>
            </div>
            <div *ngIf="projectForm.controls['projectType']?.value == 'SDK'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>URL:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>URL:</mat-label>
                            <input matInput formControlName="sdkUrl" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['sdkUrl'].hasError('required')">
                                URL is required
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['sdkUrl'].hasError('pattern')">
                                URL is invalid
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Spec Version:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Spec Version:</mat-label>
                            <mat-select formControlName="sdkSpecVersion" #singleSelect>
                                <mat-option value="0.9.0">
                                    0.9.0
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['sdkSpecVersion'].hasError('required')">
                                Spec Version is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Purpose:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Purpose:</mat-label>
                            <mat-select formControlName="sdkPurpose" #singleSelect>
                                <mat-option value="Matcher">
                                    Matcher
                                </mat-option>
                                <mat-option value="Check Quality">
                                    Check Quality
                                </mat-option>
                                <mat-option value="Extract Template">
                                    Extract Template
                                </mat-option>
                                <mat-option value="Convert Format">
                                    Convert Format
                                </mat-option>
                                <mat-option value="Segment">
                                    Segment
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['sdkPurpose'].hasError('required')">
                                Purpose is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Select Test Data:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Select Test Data:</mat-label>
                            <mat-select formControlName="bioTestData" #singleSelect>
                                <mat-option value="DEFAULT">
                                    MOSIP-DEFAULT
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['bioTestData'].hasError('required')">
                                Test Data is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </div>
            <div *ngIf="projectForm.controls['projectType']?.value == 'SBI'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Spec Version:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Spec Version:</mat-label>
                            <mat-select formControlName="sbiSpecVersion" #singleSelect>
                                <mat-option value="0.9.5">
                                    0.9.5
                                </mat-option>
                                <mat-option value="1.0.0" disabled="true">
                                    1.0.0
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['sbiSpecVersion'].hasError('required')">
                                Spec Version is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Purpose:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Purpose:</mat-label>
                            <mat-select formControlName="sbiPurpose" #singleSelect (selectionChange)="handleSbiPurposeChange()">
                                <mat-option value="Registration">
                                    Registration
                                </mat-option>
                                <mat-option value="Auth">
                                    Auth
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['sbiPurpose'].hasError('required')">
                                Purpose is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Device Type:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Device Type:</mat-label>
                            <mat-select formControlName="deviceType" #singleSelect>
                                <mat-option value="Finger">
                                    Finger
                                </mat-option>
                                <mat-option value="Iris">
                                    Iris
                                </mat-option>
                                <mat-option value="Face">
                                    Face
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['deviceType'].hasError('required')">
                                Device Type is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Device Sub Type:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Device Sub Type:</mat-label>
                            <mat-select formControlName="deviceSubType" #singleSelect>
                                <mat-option value="Slap" *ngIf="projectForm.controls['deviceType'].value == 'Finger'">
                                    Slap
                                </mat-option>
                                <mat-option value="Single" *ngIf="projectForm.controls['deviceType'].value == 'Finger'
                                && projectForm.controls['sbiPurpose'].value == 'Auth'">
                                    Single
                                </mat-option>
                                <mat-option value="Touchless"
                                    *ngIf="projectForm.controls['deviceType'].value == 'Finger'">
                                    Touchless
                                </mat-option>
                                <mat-option value="Single" *ngIf="projectForm.controls['deviceType'].value == 'Iris'
                                && projectForm.controls['sbiPurpose'].value == 'Auth'">
                                    Single
                                </mat-option>
                                <mat-option value="Double" *ngIf="projectForm.controls['deviceType'].value == 'Iris'
                                ">
                                    Double
                                </mat-option>
                                <mat-option value="Full face"
                                    *ngIf="projectForm.controls['deviceType'].value == 'Face'">
                                    Full face
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="projectForm.controls['deviceSubType'].hasError('required')">
                                Device Sub Type is required
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['deviceSubType'].hasError('invalid')">
                                Device Sub Type is invalid
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </div>
            <div *ngIf="projectForm.controls['projectType']?.value == 'ABIS'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>URL:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>URL:</mat-label>
                            <input matInput formControlName="abisUrl" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['abisUrl'].hasError('required')">
                                URL is required
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['abisUrl'].hasError('pattern')">
                                URL is invalid
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Username:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Username:</mat-label>
                            <input matInput formControlName="username" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['username'].hasError('required')">
                                Username is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Password:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Password:</mat-label>
                            <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
                                formControlName="password">
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off'
                                : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="projectForm.controls['password'].hasError('required')">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>Queue Name:
                            <span class="required-annotation">*</span>
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" [style.width.px]=327>
                            <mat-label>Queue Name:</mat-label>
                            <input matInput formControlName="queueName" #keyboardRef #input />
                            <mat-error *ngIf="projectForm.controls['queueName'].hasError('required')">
                                Queue Name is required
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="button-container">
    <button mat-flat-button color="accent" (click)="showDashboard()" class="add-button">
        <mat-icon>home</mat-icon>
        Dashboard
    </button>
    <button mat-flat-button color="accent" [disabled]="dataSubmitted" (click)="saveProject()" class="add-button">
        <mat-icon>save</mat-icon>
        Save Project
    </button>
</div>