.formContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
  }
  .fieldWrapper {
    display: flex;
    flex: 1;
    justify-content: first baseline;
    align-items: center;
    padding: 5px; 
    height: 50px;
  }
  .fieldLabel {
    flex: 0.2;
  }
  .fieldContainer {
    flex: 0.3;
    align-items: center;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 35px;
  }
  .required-annotation {
    color: red;
    margin-left: 3px;
  }
  .button-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    position: fixed;
    bottom: 0px;
    left: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
  }
  
  .button-container + .add-button {
    margin-left: 8px;
  }
  ::ng-deep.mat-select-value {
    padding: 5px !important;
  }
  .spinner {
    flex-direction: column;
    align-items: center;
    margin-top: 18vw;
    display: flex;
  }
  .cell-list {
    padding: 10px;
    font-size: smaller;
  }
  .testcases-table {
    font-size: smaller;
  
    width: 100%;
  }