.formContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
}
.fieldWrapper {
  display: flex;
  flex: 1;
  justify-content: first baseline;
  align-items: center;
  padding: 5px;
  /* height: 50px;
  width: 340px; */
}
.fieldLabel {
  width: 20%;
}
.fieldContainer {
  width: 80%;
  align-items: center;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 35px;
}
.required-annotation {
  color: red;
  margin-left: 3px;
}
.button-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  position: fixed;
  bottom: 0px;
  left: 10px;
  background-color: white;
  border-top: 1px solid #ddd;
}

.button-container + .add-button {
  margin-left: 8px;
}
::ng-deep.mat-select-value {
  padding: 5px !important;
}
.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}
.cell-list {
  padding: 10px;
  font-size: smaller;
}
.testcases-table {
  font-size: smaller;
  width: 100%;
}
@media screen and (max-width: 2560px) {
  .fieldContainerBox {
    width: 250px;
    padding-left: 10px;
  }
  .projectTypeBt {
    width: 250px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 770px) {
  .button-container {
    width: 700px;
  }
}
@media screen and (max-width: 480px) {
  .fieldLabel {
    width: 80px;
  }
  .fieldContainerBox {
    width: 240px;
  }
  .projectTypeBt {
    width: 240px;
  }
  .button-container {
    width: 420px;
  }
}
@media screen and (max-width: 426px) {
  .button-container{
    width: 360px;
  }
}
@media screen and (max-width: 378px) {
  .button-container{
    width: 320px;
  }
}
@media screen and (max-width: 325px) {
  .formContainer {
    width: 270px;
    height: 450px;
    overflow-x: auto;
  }
  .fieldWrapper {
    width: 250px;
    display: block;
    padding-bottom: 20px;
  }
  .fieldLabel {
    width: 20px;
  }
  .fieldContainerBox {
    width: 232px;
  }
  .projectTypeBt {
    width: 232px;
    padding-top: 20px;
  }
  .button-container {
    width: 270px;
  }
}