<p>
    <xng-breadcrumb *ngIf="dataLoaded"></xng-breadcrumb>
</p>
<div class="spinner" *ngIf="!dataLoaded">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<div class="mat-elevation-z8" *ngIf="dataLoaded">
    <div class="formContainer">
        <form [formGroup]="testDataForm">
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>Name:
                        <span class="required-annotation">*</span>
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <mat-form-field appearance="legacy" [style.width.px]=327>
                        <mat-label>Name:</mat-label>
                        <input matInput formControlName="name" #keyboardRef #input />
                        <mat-error *ngIf="testDataForm.controls['name'].hasError('required')">
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </span>
            </div>
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>Project Type:
                        <span class="required-annotation">*</span>
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <div [style.width.px]=327>
                        <mat-radio-group aria-label="Select an option" formControlName="type" appearance="legacy">
                            <mat-radio-button value="SDK">SDK</mat-radio-button>
                            <mat-radio-button value="ABIS" disabled="true">ABIS</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="testDataForm.touched && testDataForm.controls['type'].hasError('required')">
                            Project Type is required
                        </mat-error>
                    </div>
                </span>
            </div>
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>Purpose:
                        <span class="required-annotation">*</span>
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <mat-form-field appearance="legacy" [style.width.px]=327>
                        <mat-label>Purpose:</mat-label>
                        <mat-select formControlName="purpose" #singleSelect>
                            <mat-option value="Matcher">
                                Matcher
                            </mat-option>
                            <mat-option value="Check Quality">
                                Check Quality
                            </mat-option>
                            <mat-option value="Extract Template">
                                Extract Template
                            </mat-option>
                            <mat-option value="Convert Format">
                                Convert Format
                            </mat-option>
                            <mat-option value="Segment">
                                Segment
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="testDataForm.controls['purpose'].hasError('required')">
                            Purpose is required
                        </mat-error>
                    </mat-form-field>
                </span>
            </div>
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>Select Test Data:
                        <span class="required-annotation">*</span>
                    </mat-label>
                </span>
                <span class="file-upload__button">
                    <input #fileUpload type="file" id="testdatafile" (click)="fileUpload.value = ''" value=""
                        (change)="handleFileInput($event)" style="display: none;" />
                    <input class="browseInput" value="Browse" type="button" (click)="clickOnButton()" />
                </span>
            </div>
        </form>
    </div>
</div>
<div class="button-container">
    <button mat-flat-button color="accent" (click)="showBiometricDashboard()" class="add-button">
        Back
    </button>
</div>