<div class="mat-elevation-z8">
    <div class="filter-container">
        <mat-form-field appearance="legacy" class="filter">
            <mat-label>{{ "projectDashboard.filter" | translate }}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
        </mat-form-field>
        <mat-paginator [pageSizeOptions]="[5, 10, 25,50,100]" aria-label="Select page of partners"></mat-paginator>

    </div>

    <table mat-table [dataSource]="dataSource" matSort class="dashboard-table">

        <ng-container matColumnDef="projectName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "reportsSubmitted.projectName" | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
        </ng-container>

        <ng-container matColumnDef="orgName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "reportsSubmitted.orgName" | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.orgName}} </td>
        </ng-container>

        <ng-container matColumnDef="projectType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "reportsSubmitted.projectType" | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.projectType}} </td>
        </ng-container>

        <ng-container matColumnDef="collectionName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "reportsSubmitted.collectionName" | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.collectionName}} </td>
        </ng-container>

        <ng-container matColumnDef="updDtimes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "reportsSubmitted.creationDate" | translate }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.updDtimes | date: 'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="reportStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-header-cell"
                style="text-align: center;"> {{ "reportsSubmitted.status" | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <div class="text-container">
                    <ng-container *ngIf="statusIcons[element.reportStatus]">
                        <mat-icon [ngStyle]="{ color: statusIcons[element.reportStatus].color }">
                            {{ statusIcons[element.reportStatus].icon }}
                        </mat-icon>
                    </ng-container>
                    {{ element.reportStatus }}
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">
                {{ "reportsSubmitted.projectRow" | translate }}
            </td>
        </tr>
    </table>
</div>