.formContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}
.mat-header-row{
  background-color: rgba(119, 136, 153, 0.26);
  color: black;
}
.selectMsg {
  color: #fd518c;
  padding: 5px;
}
.fieldWrapper {
  display: flex;
  flex: 1;
  justify-content: first baseline;
  align-items: center;
  padding: 5px;
  height: 50px;
}
.fieldLabel {
  flex: 0.2;
}
.fieldContainer {
  flex: 0.3;
  align-items: center;
}
.required-annotation {
  color: red;
  margin-left: 3px;
}
.button-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 98% !important;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  border-top: 1px solid #ddd;
}
.button-container + .add-button {
  margin-left: 8px;
}
.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}
.testcases-table {
  width: 100%;
}
.table-container {
  /* height: 400px; */
  max-width: 100%;
  overflow: auto;
}
.custom-class mat-icon {
  vertical-align: middle;
}
.mat-column-testId {
  flex: none;
  width: 100px;
}
.mat-column-actions {
  flex: none;
  width: 50px;
}
.cell-list {
  /* padding: 20px; */
  font-size: smaller;
  word-wrap: break-word;
}
@media screen and (max-width:426px) {
  .collectionNameField{
    margin-left: 40px;
    width: 200px;
  }
  .idHeader{
    padding-left: 30px;
  }
  .idCell{
    padding-left: 30px;
  }
  .nameHeader{
    padding-left: 30px;
  }
  .nameCell{
    padding-left: 30px;
  }
  .descHeader{
    padding-left: 30px;
  }
  .descCell{
    padding-left: 30px;
  }
  .validatorsHeader{
    padding-left: 30px;
  }
  .validatorsCell{
    padding-left: 30px;
  }
  .add-button{
    margin-right: 10px;
  }
  .scrollCell{
    /* background-color:gray; */
    background-color: darkgray;
  }
}
@media screen and (max-width:320px) {
  .collectionNameField{
    width: 120px;
  }
  .add-button{
    margin-right: 10px;
  }
}