<div [dir]="textDirection">
<p>
    <xng-breadcrumb *ngIf="dataLoaded"></xng-breadcrumb>
</p>
<div class="spinner" *ngIf="!dataLoaded">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<div class="mat-elevation-z8"  *ngIf="dataLoaded">
    <div class="formContainer">
        <form [formGroup]="collectionForm">
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>{{ "viewCollection.collectionName" | translate }}
                        <span class="required-annotation">*</span>
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <mat-form-field appearance="legacy" class="formfield">
                        <mat-label>{{ "viewCollection.collectionName" | translate }}</mat-label>
                        <input matInput formControlName="name" #keyboardRef #input />
                    </mat-form-field>
                </span>
            </div>
        </form>
        <div class="selectMsg">
            {{ "viewCollection.selectMsg" | translate }}
        </div>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="testcases-table">
            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
            <!-- Test Order Sequence Column -->
            <ng-container matColumnDef="testId">
                <th mat-header-cell *matHeaderCellDef> {{ "viewCollection.id" | translate }} </th>
                <td mat-cell *matCellDef="let element">
                    {{element.testId}} </td>
            </ng-container>
            <ng-container matColumnDef="testName">
                <th mat-header-cell *matHeaderCellDef> {{ "viewCollection.name" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.testName}} </td>
            </ng-container>
            <ng-container matColumnDef="testDescription">
                <th mat-header-cell *matHeaderCellDef> {{ "viewCollection.description" | translate }} </th>
                <td mat-cell *matCellDef="let element"> <div [innerHTML]="element.testDescription"></div></td>
            </ng-container>
            <ng-container matColumnDef="validatorDefs">
                <th mat-header-cell *matHeaderCellDef> {{ "viewCollection.validators" | translate }} </th>
                <td mat-cell *matCellDef="let element"> 
                    <span *ngFor="let itemArr of element.validatorDefs">
                        <span *ngFor="let item of itemArr">
                            <span class="cell-list">{{item.name + ' - ' + item.description}}</span><br />
                        </span>
                    </span>
            </ng-container>
            <ng-container matColumnDef="scrollIcon" stickyEnd>
                <th mat-header-cell *matHeaderCellDef style="padding-left: 20px;"></th>
                    <td mat-cell *matCellDef>
                    </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<p></p>
&nbsp;
<div class="button-container">
    <button mat-flat-button color="accent" (click)="backToProject()" class="add-button">
        {{ "viewCollection.back" | translate }}
    </button>
</div>
</div>