.formContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}
.fieldWrapper {
  display: flex;
  flex: 1;
  justify-content: first baseline;
  align-items: center;
  padding: 5px;
  height: 50px;
}
.fieldLabel {
  flex: 0.2;
}
.fieldContainer {
  flex: 0.3;
  align-items: center;
}
.required-annotation {
  color: red;
  margin-left: 3px;
}
.button-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 98% !important;
  z-index: 1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  border-top: 1px solid #ddd;
}
.button-container + .add-button {
  margin-left: 8px;
}
.spinner {
  flex-direction: column;
  align-items: center;
  margin-top: 18vw;
  display: flex;
}
.testcases-table {
  width: 100%;  
}
.table-container {
  /* height: 400px; */
  max-width: 100%;
  overflow: auto;
}
.cell-list {
  /* padding: 20px; */
  font-size: smaller;
  word-wrap: break-word;
}
.mat-column-testId {
  flex: none;
  width: 100px;
}