<div [dir]="textDirection">
<div *ngIf="input.case === 'ERROR'">
    <h2 mat-dialog-title class="mat-dialog-title" *ngIf="input && input.title">{{ input.title }}</h2>
    <mat-dialog-content style="white-space: pre-line;">
        <div class="custom-class">
            <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon> {{ input.message }}
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="accent" (click)="closeMe()">{{"dialogMessages.close" | translate}}</button>
    </mat-dialog-actions>
</div>
<div *ngIf="input.case === 'SUCCESS'">
    <h2 mat-dialog-title class="mat-dialog-title" *ngIf="input && input.title">{{ input.title }}</h2>
    <mat-dialog-content style="white-space: pre-line;">
        <div class="custom-class">
            <mat-icon [ngStyle]="{color: 'green'}">check_circle</mat-icon> {{ input.message }}
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="accent" (click)="closeMe()">{{"dialogMessages.close" | translate}}</button>
    </mat-dialog-actions>
</div>
<div *ngIf="input.case === 'INFO'">
    <h2 mat-dialog-title class="mat-dialog-title" *ngIf="input && input.title">{{ input.title }}</h2>
    <mat-dialog-content style="white-space: pre-line;">
        {{ input.message }}
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="accent" (click)="closeMe()">{{"dialogMessages.close"|translate}}</button>
    </mat-dialog-actions>
</div>
<div *ngIf="input.case === 'UPDATE_PROJECT'" class="updateProject">
    <h2 mat-dialog-title class="mat-dialog-title">{{"projectDashboard.title"|translate}}</h2>
    <mat-dialog-content style="white-space: pre-line;">
        {{"projectDashboard.message"|translate}}
    </mat-dialog-content>
    <form [formGroup]="projectForm" *ngIf="dataLoaded">
        <div class="formContainer">
            <span *ngIf="projectForm.controls['projectType']?.value == 'SBI'">
                <!-- <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"viewProject.deviceImages"|translate}}
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"viewProject.deviceImages"|translate}}</mat-label>
                            <input matInput formControlName="deviceImages" #keyboardRef #input/>
                            <mat-error *ngIf="projectForm.controls['deviceImages'].hasError('required')">
                                {{"viewProject.deviceImagesIsRequired"|translate}}
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['deviceImages'].hasError('toBeAddedPattern')">
                                {{"dialogMessages.deviceImagesIsInvalid"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div> -->
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"viewProject.sbiHash"|translate}}
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"viewProject.sbiHash"|translate}}</mat-label>
                            <input matInput formControlName="sbiHash" #keyboardRef #input/>
                            <mat-error *ngIf="projectForm.controls['sbiHash'].hasError('required')">
                                {{"viewProject.sbiHashIsRequired"|translate}}
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['sbiHash'].hasError('toBeAddedPattern')">
                                {{"dialogMessages.sbiHashIsInvalid"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </span>
            <span *ngIf="projectForm.controls['projectType']?.value == 'SDK'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"viewProject.sdkHash"|translate}}
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"viewProject.sdkHash"|translate}}</mat-label>
                            <input matInput formControlName="sdkHash" #keyboardRef #input/>
                            <mat-error *ngIf="projectForm.controls['sdkHash'].hasError('required')">
                                {{"viewProject.sdkHashIsRequired"|translate}}
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['sdkHash'].hasError('toBeAddedPattern')">
                                {{"dialogMessages.sdkHashIsInvalid"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </span>
            <span *ngIf="projectForm.controls['projectType']?.value == 'ABIS'">
                <div class="fieldWrapper">
                    <span class="fieldLabel">
                        <mat-label>{{"viewProject.abisHash"|translate}}
                        </mat-label>
                    </span>
                    <span class="fieldContainer">
                        <mat-form-field appearance="legacy" class="fieldContainerBox">
                            <mat-label>{{"viewProject.abisHash"|translate}}</mat-label>
                            <input matInput formControlName="abisHash" #keyboardRef #input/>
                            <mat-error *ngIf="projectForm.controls['abisHash'].hasError('required')">
                                {{"viewProject.abisHashIsRequired"|translate}}
                            </mat-error>
                            <mat-error *ngIf="projectForm.controls['abisHash'].hasError('toBeAddedPattern')">
                                {{"dialogMessages.abisHashIsInvalid"|translate}}
                            </mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </span>
            <div class="fieldWrapper">
                <span class="fieldLabel">
                    <mat-label>{{"viewProject.websiteUrl"|translate}}
                    </mat-label>
                </span>
                <span class="fieldContainer">
                    <mat-form-field appearance="legacy" class="fieldContainerBox">
                        <mat-label>{{"viewProject.websiteUrl"|translate}}</mat-label>
                        <input matInput formControlName="websiteUrl" #keyboardRef #input />
                        <mat-error *ngIf="projectForm.controls['websiteUrl'].hasError('required')">
                            {{"viewProject.websiteUrlIsRequired"|translate}}
                        </mat-error>
                        <mat-error *ngIf="projectForm.controls['websiteUrl'].hasError('toBeAddedPattern')">
                            {{"dialogMessages.websiteUrlIsInvalid"|translate}}
                        </mat-error>
                    </mat-form-field>
                </span>
            </div>
        </div>
    </form>
    <div class="button-container">
        <button mat-flat-button color="accent" (click)="closeMe()" class="buttonDiv" align="">{{"dialogMessages.close"|translate}}</button>
        <button mat-flat-button color="accent" [disabled]="!projectForm.valid" (click)="updateProject()" class="saveBt">
            <mat-icon>save</mat-icon>
            {{"dialogMessages.updateProject"|translate}}
        </button>
    </div>
</div>
<div *ngIf="input.case === 'UPLOAD_DEVICE_IMAGES'" class="uploadImg">
    <h2 mat-dialog-title class="mat-dialog-title">Upload Device Images</h2>
    <div mat-dialog-content>
        <input type="file" accept="image/*" (change)="onFileSelect($event)" #fileInput hidden multiple>
        <div *ngIf="selectedImages.length < 5">
          <button mat-raised-button color="accent" (click)="fileInput.click()">Add Images</button>
        </div>
        <div *ngIf="selectedImages.length > 5">
          <p class = "maximumExceededMessage">Maximum 5 images can be added.</p>
        </div>
        <div *ngFor="let image of selectedImages">
          <p>{{ image.name }}</p>
          <mat-progress-bar mode="determinate" [value]="progress" class="progressBar"></mat-progress-bar>
        </div>
        <div *ngIf="selectedImages.length > 0" class="uploadButtonContainer">
          <button mat-flat-button color="accent" (click)="uploadImages()" class="uploadBt">Save</button>
        </div>
        <div *ngIf="selectedImages.length > 0" role="preview" class="preview">
          <div *ngFor="let image of selectedImages">
            <img [src]="getPreviewUrl(image)" alt="{{ image.name }}">
          </div>
        </div>
    </div>   
</div>
</div>
