mat-dialog-content {
  height: 750 px;
  text-align: left;
  word-wrap: break-word;
}

.mat-dialog-title {
  color: #fd518c;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid #fd518c;
}

.subHeader {
  color: black;
  font-size: larger;
}

.custom-class mat-icon {
  vertical-align: middle;
}

.ok-button-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.formContainer {
  background-color: white;
  margin-top: 10px;
}

.fieldWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  /* height: 50px; */
}

.fieldLabel {
  width: 20%;
}

.commentBox {
  width: 100%;
  outline: 1px solid rgb(205, 200, 200);
}

.button-container-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.fieldContainer {
  width: 80%;
  align-items: center;
  margin-left: 45px;
}

.fieldContainerBox {
  width: 200px;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinnerForUploadImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.button-container+.buttonDiv {
  margin-left: 8px;
}

.saveBt {
  margin-left: 330px;
}

.uploadImg {
  display: flex;
  flex-direction: column;
}

.closeBt {
  position: relative;
  float: right;
  margin-bottom: 5px;
}

button[mat-raised-button] {
  background-color: #f1f1f1;
  margin: 5px;
}

button[mat-icon-button] {
  margin-top: 5px;
  margin-left: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.viewImages {
  margin-left: 10px;
}

.imagePreview {
  flex: 0.5;
  position: absolute;
  margin-left: 240px;
}

img {
  width: 150px;
  height: 150px;
  margin: 5px;
  margin-top: 20px;
}

.successMsg {
  margin-left: 50px;
}

.deviceImageBox {
  overflow: hidden;
}

.delete-overlay {
  position: relative;
  display: inline-block;
}

.delete-overlay::after {
  content: "X";
  position: absolute;
  top: 20px;
  right: 5px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  font-size: 18px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.fileuploadbtn {
  width: 200px;
}

.viewImgMsg {
  margin-top: 7px;
}

.viewDeviceImages {
  width: 120px;
  height: 120px;
  margin: 5px;
}

.back-button {
  background-color: var(--secondary-color);
  color: var(--button-font-color);
}

.checkbox-margin {
  margin-bottom: 10px;
  margin-left: 10px;
}

.reviewMessage {
  margin-top: -3px;
}

.formField {
  margin-left: -30px;
}

.commentBox {
  align-items: center;

}

.comment-section label {
  margin-right: 10px;
}

ul.reviewMessage {
  list-style-type: none;
}

ul.reviewMessage li:before {
  content: "*";
  margin-right: 5px;
}

@media screen and (max-width: 750px) {
  .fieldContainer {
    margin-left: 60px;
  }

  .saveBt {
    margin-left: 290px;
  }
}

@media screen and (min-width: 650px) and (max-width: 750px) {
  .saveBt {
    margin-left: 270px;
  }
}

@media only screen and (max-width: 649px) {
  .viewDeviceImages {
    width: 100px;
    height: 100px;
    margin: 5px;
  }

  .imagePreview {
    margin-left: 220px;
  }

  .saveBt {
    margin-left: 240px;
  }
}

@media only screen and (max-width: 525px) {
  .viewDeviceImages {
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .imagePreview {
    margin-left: 200px;
  }

  button[mat-icon-button] {
    margin-left: 10px;
  }

  .saveBt {
    margin-left: 150px;
  }
}

@media only screen and (max-width: 505px) {
  ::ng-deep .close-button-container {
    width: 135%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 3px;
  }
  ::ng-deep .mat-dialog-container{
    display: flex;
    justify-content: center;
  }
  .upload-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .uploadImg {
    flex-direction: column;
  }

  .imagePreview {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .closeBt {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 426px) {
  .fieldWrapper {
    width: 340px;
  }

  .fieldLabel {
    width: 80px;
  }

  .fieldContainerBox {
    width: 240px;
  }

  .viewDeviceImages {
    width: 70px;
    height: 70px;
    margin: 5px;
  }

  .close-button-container {
    width: 144%;
  }

  img {
    width: 120px;
    height: 120px;
    margin: 5px;
    margin-top: 30px;
  }

  .delete-overlay::after {
    top: 30px;
  }

  button[mat-raised-button] {
    font-size: 10px;
    justify-content: center;
    padding: 1px 4px;
    margin: 5px;
    min-width: 120px;
  }

  .saveBt {
    margin-left: 80px;
    font-size: small;
    display: block;
  }
}

@media screen and (max-width: 402px) {
  .fieldWrapper {
    width: 330px;
    padding-left: -5px;
  }

  .fieldLabel {
    width: 60px;
  }

  .button-container {
    width: 270px;
    margin-left: 25%;
  }

  .close-button-container {
    width: 100%;
  }

  button[mat-raised-button] {
    font-size: 8px;
    padding: 0.5px 3px;
    margin: 5px;
    min-width: 124px;
  }

  button[mat-icon-button] {
    margin-left: 5px;
  }

  .imagePreview {
    position: relative;
    margin: auto;
  }

  .saveBt {
    margin-left: 80px;
    font-size: smaller;
    display: block;
  }
}

@media screen and (max-width: 374px) {
  .fieldWrapper {
    width: 250px;
    display: block;
    padding-bottom: 20px;
  }

  .fieldContainerBox {
    width: 190px;
    padding-left: 5px;
  }

  .fileuploadbtn {
    width: 190px;
  }

  .close-button-container {
    width: 100%;
  }

  button[mat-raised-button] {
    font-size: x-small;
    padding: 0px 0px;
    margin: 5px;
  }

  button[mat-icon-button] {
    margin-left: 2px;
    font-size: xx-small;
  }

  .imagePreview {
    position: relative;
    margin-left: auto;
    width: 107px;
  }

  .closeBt {
    position: relative;
    float: right;
    min-height: 33px;
  }

  .saveBt {
    margin-left: 40px;
    font-size: smaller;
    display: block;
  }
}