<div [dir]="textDirection">
<div *ngIf="input.case === 'ERROR'">
    <h2 mat-dialog-title class="mat-dialog-title" *ngIf="input.title">{{ input.title }}</h2>
    <mat-dialog-content style="white-space: pre-line;">
        <div class="custom-class">
            <mat-icon [ngStyle]="{color: 'red'}">clear</mat-icon> {{ input.message }}
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="accent" (click)="closeMe()">dialogMessages.close</button>
    </mat-dialog-actions>
</div>
<div *ngIf="input.case === 'SUCCESS'">
    <h2 mat-dialog-title class="mat-dialog-title" *ngIf="input.title">{{ input.title }}</h2>
    <mat-dialog-content style="white-space: pre-line;">
        <div class="custom-class">
            <mat-icon [ngStyle]="{color: 'green'}">check_circle</mat-icon> {{ input.message }}
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="accent" (click)="closeMe()">{{"dialogMessages.close" | translate}}</button>
    </mat-dialog-actions>
</div>
<div *ngIf="input.case === 'INFO'">
    <h2 mat-dialog-title class="mat-dialog-title" *ngIf="input.title">{{ input.title }}</h2>
    <mat-dialog-content style="white-space: pre-line;">
        {{ input.message }}
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button color="accent" (click)="closeMe()">{{"dialogMessages.close"|translate}}</button>
    </mat-dialog-actions>
</div>
</div>