mat-dialog-content {
    height: 750 px;
    word-wrap: break-word;
}
.mat-dialog-title-error {
    color: #fd518c;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #fd518c;
  }
  .mat-dialog-title-success {
    color: green;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
  }
.subHeader {
    color: black;
    font-size: larger;
}