mat-dialog-content {
    height: 750 px;
    text-align: left;
    word-wrap: break-word;
}
.mat-dialog-title {
    color: #fd518c;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #fd518c;
}
.subHeader {
    color: black;
    font-size: larger;
}
.custom-class mat-icon {
  vertical-align: middle;
}
.formContainer {
    background-color: white;
    margin-top: 10px;
}
.fieldWrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    /* height: 50px; */
}
.fieldLabel {
width: 20%;
}
.fieldContainer {
width: 80%;
align-items: center;
}
.fieldContainerBox{
width: 300px;
}
.spinnerForUpdatingProject {
    flex-direction: column;
    display: flex;
}
.button-container + .buttonDiv {
    margin-left: 8px;
}
.saveBt {
    margin-left: 330px;
}
@media only screen and (max-width: 426px) {
    .fieldWrapper {
      width: 340px;
    }
    .fieldLabel {
      width: 80px;
    }
    .fieldContainerBox {
      width: 240px;
    }
  }
  @media screen and (max-width: 402px) {
    .fieldWrapper {
      width: 330px;
      padding-left: -5px;
    }
    .fieldLabel {
      width: 60px;
    }
    .button-container {
        width: 270px;
    }
  }
  @media screen and (max-width: 374px) {
    .fieldWrapper {
      width: 250px;
      display: block;
      padding-bottom: 20px;
    }
    .fieldContainerBox {
      width: 210px;
    }
  }