/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --secondary-color: rgb(189, 189, 189);
    --button-font-color: rgb(54, 46, 46);
}
