<h2 mat-dialog-title class="mat-dialog-title-error" *ngIf="input.title">{{ input.title }}</h2>
<mat-dialog-content style="white-space: pre-line;">
    <span *ngIf="!scanComplete">Scanning for devices..</span>
    <span *ngIf="scanComplete">Scanning complete</span>
    <div class="spinner" *ngIf="!scanComplete">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    <p></p>
    <div *ngIf="scanComplete">
        <form [formGroup]="scanForm" *ngIf="scanComplete">
            <div class="formContainer">
                <mat-form-field appearance="legacy" [style.width.px]=327>
                    <mat-label>Available Ports:</mat-label>
                    <mat-select formControlName="availablePort" #singleSelect>
                        <ng-container *ngFor="let dropdown of availableSbiPorts">
                            <mat-option [value]="dropdown">
                                {{ dropdown}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="scanForm.controls['availablePort'].hasError('required')">
                        Port is required
                    </mat-error>
                </mat-form-field>
                <p></p>
                <mat-form-field appearance="legacy" [style.width.px]=327>
                    <mat-label>Device:</mat-label>
                    <mat-select formControlName="availableDevices" #singleSelect>
                        <ng-container *ngFor="let dropdown of availableSbiDevices">
                            <mat-option [value]="dropdown">
                                {{ dropdown}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="scanForm.controls['availableDevices'].hasError('required')">
                        Port is required
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="accent" (click)="closeMe()">Close</button>
</mat-dialog-actions>