.dashboard-table {
    width: 100%;

}

.mat-header-cell {
    background-color: rgba(119, 136, 153, 0.26);
    color: black;
}

.mat-elevation-z8 {
    box-shadow:
        0 -1px 1px -1px rgba(0, 0, 0, 0.25),
        0 1px 2px 0px rgba(0, 0, 0, 0.5),
        0 1px 2px 0px rgba(0, 0, 0, 0.12)
}

.center-header-cell {
    text-align: center !important;
}

td,
th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 70px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.text-container {
    width: 100%;
    text-align: center;
}

.text-container mat-icon {
    vertical-align: middle;
    margin-right: 4px;
    font-size: 22px;
}

.spinner {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.nameCell {
    width: 80px;
}

.view-draft-button {
    background-color: rgb(179, 205, 225);
    height: 36px;
    border-radius: 20px;
}

.custom-class mat-icon {
    vertical-align: middle;
    margin: 2px;
    font-size: 22px;
}

.mat-cell {
    padding: 5px;
}

.download-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    cursor: pointer;
    color: #ff4081;
}
@media screen and (max-width: 1040px) {
    .table-scroll{
      overflow-x:auto;
    }
    .dashboard-table{
      width: 100%;
    }
}
@media screen and (max-width: 625px) {
    .filter-container {
        flex-direction: column;
    }

    ::ng-deep .mat-paginator-container {
        justify-content: center;
    }

    .mat-paginator-page-size {
        margin-right: -5px;
    }
}