.dashboard-table {
    width: 100%;
    
}

.mat-header-cell {
    background-color: rgba(119, 136, 153, 0.26);
    color: black;
}

.center-header-cell {
    text-align: center !important;
}

td,
th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 70px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.text-container {
    width: 100%;
    text-align: center;
}

.text-container mat-icon {
    vertical-align: middle;
    margin-right: 4px;
    font-size: 22px;
}

.spinner {
    flex-direction: column;
    align-items: center;
    margin-top: 18vw;
    display: flex;
}

.view-draft-button {
    background-color: rgb(179, 205, 225);
    height: 36px;
    border-radius: 20px;
}

.custom-class mat-icon {
    vertical-align: middle;
    margin: 2px;
    font-size: 22px;
}

.mat-cell {
    padding: 5px;
  }